@charset "utf-8";
/* CSS Document*/


.grouped{background-color:#868383;padding:10px;box-shadow:1px 1px 4px #e0e0d8;margin:10px;color:#fff;font-weight:bold;}
.grouped div{width:30%;display:inline-block;}
p.note{margin-left:1%;background-color:#cecece;width:50%;padding-left:4px;color:#000;}
.image, .image img{width:100%;}
.modal-open .modal.fade.in{opacity:1!important;}
.modal.in .modal-dialog{-webkit-transform:translate(0, 0) !important;-ms-transform:translate(0, 0) !important;-o-transform:translate(0, 0) !important;transform:translate(0, 0) !important;}
.upcoming-group-assessments .assessment_block .timing h2{font-size:20px;}
.assessment_inner{width:100%;background-color:#e7e7e7;border:1px solid #333;}
.assessment_inner .top-head{display:flex;justify-content:space-between;align-items:start;height:89px;}
.assessment_inner img{border:10px solid #fff;border-top:15px solid #fff;box-shadow:0px 0px 6px #6b6b6b;}
.timing-date{background:#f76907;color:#fff;flex-wrap:wrap;justify-content:space-around;align-items:center;padding:2px 7px;font-weight:500;}
.timing-info{background:#f76907;color:#fff;flex-wrap:wrap;justify-content:space-around;align-items:center;padding:2px 7px;font-weight:500;}
.timing h2{font-size:25px;font-weight:600;margin:0;}
.assessment_inner .node-body{padding:0 0 20px;color:#000;font-size:12px;}
.upcoming-group-assessments .col.assessment_inner{width:unset!important;}
.categories-tags ul{display:flex;flex-wrap:wrap;padding:0;text-align:left;position:relative;list-style:none;}
.categories-tags ul li{text-align:left;margin:0 0 5px;font-size:10px;font-weight:bold;background-repeat:no-repeat;color:#808285;text-transform:capitalize;}
.categories-tags ul li::before{content:'.';background-repeat:no-repeat;font-size:62px;line-height:0;color:#f76907;}
.row.assessment_block::before{display:none!important;}
.timing-date span.m, .timing-date span.d, .timing-date span.y{display:block;margin:auto;text-align:center;}
.timing-date span.d{font-size:23px;font-weight:bold;line-height:16.2px;}

.timing-info span.m, .timing-date span.d, .timing-date span.y{display:block;margin:auto;text-align:center;}
.timing-info span.d{font-size:23px;font-weight:bold;line-height:16.2px;}

.timing{height:100%;position:relative;}
.timing span{position:absolute;bottom:0;padding:2px 0px;color:#8c8e8d;}
.tophead .timing-date{padding:0!important;font-size:17px!important;background:transparent !important;color:#f76907!important;padding:30px 10px;}
.tophead .timing-info{padding:0!important;font-size:31px!important;background:transparent !important;color:#f76907!important;padding:30px 10px;display:block;}

.tophead .ticketing{width:100%;display:flex;flex-wrap:wrap;justify-content:space-evenly;}
.tophead .col-half h2{font-size:18px;font-weight:bold;margin:15px 0 5px;}
.tophead .loca{text-transform:uppercase;}
.tophead{background:#e6e7e9;}
.ticketing{display:flex;flex-wrap:wrap;justify-content:space-between;box-shadow:0px 2px 12px 0 #ccc;}
.ticketing .share, .ticketing .ticket{width:50%;}
.ticketing .share{text-transform:uppercase;}
.ticketing .share span{margin-left:20px;font-size:15px;}
.share{font-size:17px;text-transform:uppercase;padding:10px 0px;color:#f8bd91;}
.ticketing .ticket{text-align:right;}
.ticketing .ticket span{text-align:center;width:130px;display:inline-block;margin:0;height:45px;line-height:42px;background:#135b12;color:#fff;font-size:15px;}
.ticketing::before{display:none;content:unset;}
.row.ticketing:before, .row.ticketing:after{display:none;content:unset;}
.date-and-time .timing-date{background:transparent!important;color:#000 !important;padding:0px!important;font-size:14px;}
.date-and-time span{font-size:19px!important;}

.date-and-time div{margin-top:20px;}
.ticketing:nth-of-type(1){box-shadow:none;display:unset;}
.ticketing .book-now{font-size:19px;font-weight:bold;}
.date-and-time p:nth-of-type(2){margin-top:15px!important;}
.date-and-time p{font-size:14px;}
.row.details{position:relative;}
.row.details .node-body{position:absolute;left:0;right:0;top:0;width:46%;margin-top:30px;}
.row.details .node-body p{color:#000;line-height:unset;font-size:13px;}
.date-and-time p{color:#b7b4b4;font-size:15px;}
.share span{background:url(../img/share.png);background-repeat:no-repeat;background-position:left;padding-left:25px;}
.ticket span{background-image:url(../img/ticketing.png)!important;background-repeat:no-repeat!important;background-position:left center!important;padding-left:25px;}
.ui-dialog-titlebar .ui-dialog-title{display:none;}
.ticketing a.book-now{color:#f16707!important;}


.date-and-time div.location{background-image:url(../img/icon_time.png)!important;background-repeat:no-repeat!important;background-position:top left!important;/* margin-top:-25px; */padding-top:15px;font-size:19px;}
.row.details .col-half{width:49%;}

.close span{position:absolute!important;right:15px!important;top:9px!important;font-size:23px!important;}
.close{position:relative!important;z-index:1!important;margin-right:10px;}
.categories-tags ul li:nth-of-type(2){margin-left:10px;}

 html .container{max-width:100%!important;}
html body{margin-top:0!important;padding:0 !important;}
.weblabel{padding:13px 0px 0px 15px !important;float:left;width:42%;}
.container-inline.web_name.webfield div.form-item{padding-left:0;}
.container-inline.web_name.webfield{width:58%;float:right;}
button:focus{outline:unset!important;}
.timing h2{margin:0;}

.footer_bt .trm_pr, .address_em{list-style:none;display:flex;flex-wrap:wrap;justify-content:start;font-size:15px;padding:0;margin:0;}
.footer_bt .trm_pr li, .address_em li{margin-right:15px;color:#717071;font-family:'Proxima Nova Rg';font-size:12px;}
.footer_bt .trm_pr li a, .address_em a{margin-right:10px;color:#717071;font-size:12px;}
.footer_bt p{padding-top:20px;font-size:11px;color:#717071;font-family:'Proxima Nova Rg';}

.modal-content{position:relative!important;}

button:focus{outline:unset!important;}
div#drupal-modal{background-color:rgba(0, 0, 0, 0.68)!important;}
.ui-dialog-content{padding:0!important;margin-top:-1px;overflow:hidden!important;}
div#upcoming_bk{display:grid;grid-template-columns:1fr 1fr 1fr;margin:0;grid-gap:10px;}
.scheduled_appointment.container:before, .scheduled_appointment.container:after{content:unset!important;}
.scheduled_appointment .row{display:grid;grid-template-columns:1fr 1fr 1fr;grid-gap:20px;column-gap:20px;}
.scheduled_appointment .row:before{content:unset!important;}
.scheduled_appointment .col-6{flex:0 0 100%;max-width:100%;border:1px solid #000;background-color:#e7e7e7;}
.container.scheduled_appointment{max-width:1170px !important;margin:auto;border:none;background:transparent !important;padding:0 40px 0;}

.block-bfss-assessment .assessment_block, .block-bfss-assessment .assessment_block span{font-family:Montserrat;font-weight:normal;}
.block-bfss-assessment .assessment_block h2{font-family:Montserrat;font-weight:bold;}
.dash-main-right h1, .dash-main-right h2, .quick-link{font-family:montserrat, sans-serif;font-weight:normal;}


/***popup***/
.customModal{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.5);display:none;z-index:999;}
.customModalContent{display:flex;align-items:center;justify-content:center;height: 100%;width:100%;}
.contentWrapper{background: #fff;padding:70px;border-radius: 20px;width: 500px;max-width: 92%;text-align: center;position: relative;}
.customModal .close_modal {border: 2px solid #ccc;border-radius: 50%;top: -19px;background: #fff;right: -17px;font-size: 18px;font-weight: 600;position: absolute;height: 35px;width: 35px;cursor: ointer;text-align: center;line-height: 30px;}
.customModal .customModalContent p{color:green;font-size:24px;line-height:36px;}


/* form */
.edit_profile_form .form-inline .control-label{font-size:13px;float:left;margin-right:20px;padding-top:10px;}
.form-type-date #edit-doj{width:100%;}
.athlete_right .items_div{text-align:center}
.side_nav .drop.active{background:#f76907}
.menulink{font-size:16px !important;}
div#sidenav .drop.active i{color:#fff !important;}
.profiletext{border:0px !important;padding:18px 0px !important;}
#drupal-modal--content{max-height:auto !important;}
.timing-info{margin-top:-10px !important;}
.form-control{font-family:montserrat, sans-serif !important}
/* Palvi CSS */
.bfssmanager-dashboard div#upcoming_bk{grid-template-columns:.5fr .5fr .5fr !important;/* margin:0 -15px; !important */;grid-gap:2px !important}
.bfssmanager-dashboard #block-upcominggroupassessments .col{width:100% !important;margin:0 !important}
.bfssmanager-dashboard .timing h2{font-size:15px !important}
/* Palvi CSS end*/