@charset "UTF-8";
/**************************************************************************************************************************/
/************************************** USER REGISTRATION AND LOGIN FORM CSS STARTS HERE **********************************/
/**************************************************************************************************************************/
.user-login .footer .region-footer, .user-register .footer .region-footer, .user-password .footer .region-footer, .registration-coach .footer .region-footer, .user-reset .footer .region-footer, .complete-registration .footer .region-footer {
  margin-top: 0;
}

.user-login .footer .footer_bt ul, .user-register .footer .footer_bt ul, .user-password .footer .footer_bt ul, .registration-coach .footer .footer_bt ul, .user-reset .footer .footer_bt ul, .complete-registration .footer .footer_bt ul {
  display: none;
}

.user-login .footer .footer_bt p, .user-register .footer .footer_bt p, .user-password .footer .footer_bt p, .registration-coach .footer .footer_bt p, .user-reset .footer .footer_bt p, .complete-registration .footer .footer_bt p {
  color: #000;
  font-size: 14px;
  text-align: center;
}

body.user-login, body.user-password, body.registration-coach, body.user-register, body.user-reset, body.complete-registration {
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(80%, #fefbb7));
  background: linear-gradient(180deg, white 0%, #fefbb7 80%);
}

.user_form_content {
  max-width: 40rem;
  margin: 0 auto;
  overflow: hidden;
}

/*************************** LOGIN FORM CSS STARTS HERE **********************************/
.user_form_content .sub-header {
  width: 100%;
  float: left;
  display: block;
  margin: 45px 0 30px;
}

.user_form_content .sub-header .sub-header-logo {
  text-align: center;
}

.user_form_content .sub-header .sub-header-logo img {
  max-width: 250px;
}

.user_form_content .register-area {
  margin: 0;
  width: 100%;
  float: left;
  display: block;
  border-bottom: 2px solid #6d6e71;
  padding-bottom: 25px;
}

.user_form_content .register-area h3 {
  font-family: montserrat, Sans-Serif;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  color: #000;
  width: 100%;
  float: left;
  display: block;
  margin: 0 0 15px;
}

.user_form_content .registration-area {
  margin: 25px 0;
  width: 100%;
  float: left;
  display: block;
}

.user_form_content .registration-area h3 {
  margin: 0 0 15px;
  font-size: 24px;
  color: #000;
  text-align: center;
}

.user_form_content .registration-area .user-login-form {
  width: 100%;
  float: left;
  display: block;
}

.user_form_content .registration-area .user-login-form .form-item.js-form-item {
  width: 100%;
  float: left;
  display: block;
  margin: 0 0 15px;
}

.user_form_content .registration-area .user-login-form .form-item.js-form-item .description.help-block {
  color: #000;
  margin: 8px 0;
  font-size: 13px;
}

.user_form_content .registration-area .user-login-form .form-item.js-form-item label {
  display: none;
}

.user_form_content .registration-area .user-login-form .form-item.js-form-item .form-control, .user_form_content .registration-area form .form-item.js-form-item .form-control {
  height: 50px;
  border: 1px solid #6d6e71;
  background-image: inherit;
  background-color: transparent;
  border-radius: 0;
  color: #000;
  font-size: 14px;
  width: 100%;
  display: block;
}

.user_form_content .registration-area .user-login-form .form-item.js-form-item .form-control.error, .user_form_content .registration-area form .form-item.js-form-item .form-control.error {
  border-color: red;
}

.user_form_content .registration-area .user-login-form .form-item.js-form-item .form-control::-webkit-input-placeholder, .user_form_content .registration-area form .form-item.js-form-item .panel-body .js-form-item.form-type-select .select-wrapper select::-webkit-input-placeholder, .user_form_content .registration-area form .form-item.js-form-item .form-control::-webkit-input-placeholder {
  color: #6d6e71;
}

.user_form_content .registration-area .user-login-form .form-item.js-form-item .form-control::-moz-placeholder, .user_form_content .registration-area form .form-item.js-form-item .panel-body .js-form-item.form-type-select .select-wrapper select::-moz-placeholder, .user_form_content .registration-area form .form-item.js-form-item .form-control::-moz-placeholder {
  color: #6d6e71;
}

.user_form_content .registration-area .user-login-form .form-item.js-form-item .form-control:-ms-input-placeholder, .user_form_content .registration-area form .form-item.js-form-item .panel-body .js-form-item.form-type-select .select-wrapper select:-ms-input-placeholder, .user_form_content .registration-area form .form-item.js-form-item .form-control:-ms-input-placeholder {
  color: #6d6e71;
}

.user_form_content .registration-area .user-login-form .form-item.js-form-item .form-control:-moz-placeholder, .user_form_content .registration-area form .form-item.js-form-item .panel-body .js-form-item.form-type-select .select-wrapper select:-moz-placeholder, .user_form_content .registration-area form .form-item.js-form-item .form-control:-moz-placeholder {
  color: #6d6e71;
}

.user_form_content .registration-area .user-login-form .form-item.js-form-item .form-control:focus, .user_form_content .registration-area form .form-item.js-form-item .panel-body .js-form-item.form-type-select .select-wrapper select:focus, .user_form_content .registration-area form .form-item.js-form-item .form-control:focus {
  border: 1px solid #000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2);
}

.user_form_content .registration-area .user-login-form a.use-ajax.btn-forgot-pass {
  display: block;
  background: transparent;
  padding: 0;
  font-size: 14px;
  margin: 15px 0 0;
}

/***************** NEW REGISTRATION FORM CSS STARTS HERE ************************/
.user-register .user_form_content .register-area {
  padding-bottom: 25px;
}

.user_form_content .register-area .new-register {
  float: left;
  width: 100%;
  display: block;
}

.user_form_content .register-area .new-register .reg-icon {
  padding-right: 15px;
  float: left;
  display: inline-block;
}

.user_form_content .register-area .new-register .reg-icon img {
  max-width: 65px;
}

.user_form_content .register-area .new-register .reg-text-area {
  width: calc(100% - 80px);
  float: right;
  display: block;
}

.user_form_content .register-area .new-register .reg-text-area .small-text {
  color: #6d6e71;
}

.user_form_content .register-area .new-register .reg-text-area .large-text {
  color: #000;
  font-size: 42px;
  line-height: 45px;
  font-weight: normal;
  font-family: lato;
  margin-left: -3px;
}

.user-register .user_form_content .registration-area {
  margin: 25px 0 60px;
}

.user_form_content .registration-area form {
  width: 100%;
  float: left;
  display: block;
}

.user-register .user_form_content .registration-area .user-register-form .reg-form-tabs {
  width: 100%;
  float: left;
  margin: 0 0 25px;
}

.user-register .user_form_content .registration-area .user-register-form .reg-form-tabs:last-child {
  margin: 0;
}

.user_form_content .registration-area form .form-item.js-form-item, .user_form_content .registration-area form .form-group {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  width: 100%;
  float: left;
  position: relative;
}

.user_form_content .registration-area form .form-item.js-form-item {
  margin: 0 0 15px;
}

.user_form_content .registration-area form .form-item.js-form-item:empty {
  margin: 0;
}

.user_form_content .registration-area form .form-group {
  margin: 0;
}

.user_form_content .registration-area form .form-item.js-form-item .alert, .user-register .user_form_content .registration-area form .form-group .alert {
  margin: 12px 0 0;
  clear: both;
  float: left;
  width: 100%;
  display: block;
}

.user_form_content .registration-area form .form-item.js-form-item .panel-heading {
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 100%;
  float: left;
  display: block;
  margin: 0 0 5px;
}

.user_form_content .registration-area form .form-item.js-form-item .panel-heading .panel-title {
  padding: 0 35px 0 0;
  font-size: 21px;
  color: #000;
  width: 100%;
  margin: 0;
  line-height: 25px;
  font-weight: 500;
  position: relative;
}

.user_form_content .registration-area form .form-item.js-form-item .panel-heading .panel-title .register {
  font-size: 16px;
  display: block;
  float: left;
  width: 100%;
}

.user_form_content .registration-area form .form-item.js-form-item .panel-heading .panel-title img {
  width: 22px;
  position: absolute;
  right: 0;
  top: 0;
}

.user_form_content .registration-area form .form-item.js-form-item .panel-body {
  float: left;
  width: 100%;
  position: relative;
  padding: 0;
}

.user_form_content .registration-area form .form-item.js-form-item .panel-body .form-item-description {
  float: left;
  width: 100%;
  display: block;
}

.user_form_content .registration-area form .form-item.js-form-item .panel-body .form-item-description p {
  color: #000;
  font-size: 14px;
}

.user_form_content .registration-area form .form-item.js-form-item .panel-body .js-form-item.form-item-subtitle, .user_form_content .registration-area form .reg-tab-3 .form-item-fields-list-title, .user_form_content .registration-area form .reg-tab-4 .form-item-title {
  font-size: 14px;
  color: #6d6e71;
}

.user_form_content .registration-area form .form-item.js-form-item .panel-body .js-form-item.form-type-select .select-wrapper {
  display: block;
  position: relative;
  width: 100%;
}

.user_form_content .registration-area form .form-item.js-form-item .panel-body .js-form-item.form-type-select .select-wrapper select {
  outline: none;
  color: #6d6e71;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 40px 10px 15px;
}

.user_form_content .registration-area form .form-item.js-form-item .panel-body .js-form-item.form-type-select .select-wrapper select:hover, .user_form_content .registration-area form .form-item.js-form-item .panel-body .js-form-item.form-type-select .select-wrapper select:focus, .user_form_content .registration-area form .form-item.js-form-item .panel-heading .panel-title:hover, .user_form_content .registration-area form .form-item.js-form-item .panel-heading .panel-title:focus {
  outline: none;
  box-shadow: none;
}

.user_form_content .registration-area form .form-item.js-form-item .panel-body .js-form-item.form-type-select .select-wrapper select:focus {
  background: #fff;
  border-color: #ccc;
}

.user_form_content .registration-area form .form-item.js-form-item .panel-body .js-form-item.form-type-select .select-wrapper select::-ms-expand {
  opacity: 0;
}

.user_form_content .registration-area form .form-item.js-form-item .panel-body .js-form-item.form-type-select .select-wrapper:after {
  color: #6d6e71;
  content: "\F107";
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 10;
  font-family: "FontAwesome";
  font-size: 20px;
}

.user_form_content .registration-area form .form-item-title, .user_form_content .registration-area form .form-item-fields-list-title, .user_form_content .registration-area form .form-item-fields-list-title-2 {
  color: #000;
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  margin: 15px 0;
}

.user_form_content .registration-area .reg-form-tabs .form-actions {
  width: 100%;
  float: left;
  display: block;
}

.user_form_content .register-area .bfss-button, .user_form_content .registration-area .form-actions .js-form-submit.form-submit {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  width: 100%;
  background-color: #000;
  color: #EB6E06;
  padding: 12px 9px;
  font-family: montserrat, Sans-Serif;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  height: 50px;
  margin: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 15px 0;
}

.user_form_content .register-area .bfss-button:hover, .user_form_content .registration-area .form-actions .js-form-submit.form-submit:hover {
  opacity: 0.8;
  text-decoration: none;
}

.user_form_content .registration-area form .reg-form-tabs .fieldgroup.js-form-item.form-item {
  margin: 10px 0;
}

.user_form_content .registration-area form .reg-form-tabs .fieldgroup.js-form-item.form-item legend {
  font-size: 14px;
  float: left;
  width: 40%;
  font-weight: 300;
}

.user_form_content .registration-area form .reg-form-tabs .fieldgroup.js-form-item.form-item[id*=edit-parent-permission] legend {
  width: 100%;
}

.user_form_content .registration-area form .reg-form-tabs .fieldgroup.js-form-item.form-item .fieldset-wrapper .form-type-radio {
  margin: 0 15px 0 0;
  width: auto;
  display: inline-block;
}

.user_form_content .registration-area form .reg-form-tabs .fieldgroup.js-form-item.form-item .fieldset-wrapper .form-type-radio input.form-radio {
  margin-top: 4px;
  margin-bottom: 0;
}

.user_form_content .registration-area form button.btn span {
  display: none;
}

.user_form_content .registration-area form .reg-form-tabs .fieldgroup.js-form-item.form-item .fieldset-wrapper [id*=edit-is-over-16-years], .user_form_content .registration-area form .reg-form-tabs .fieldgroup.js-form-item.form-item[id*=edit-parent-permission] .fieldset-wrapper {
  position: absolute;
  right: 30px;
}

.user_form_content .registration-area form .reg-form-tabs .fieldgroup.js-form-item.form-item[id*=edit-parent-permission] .fieldset-wrapper {
  top: 20px;
}

/***************** COMPLETE REGISTRATION FORM CSS STARTS HERE ************************/
.complete-registration .user_form_content .registration-area {
  margin-top: 20px;
}

.user_form_content .registration-area form .form-item.js-form-item .password-confirm-message {
  margin: 15px 0 0;
}

.complete-registration .user_form_content .registration-area form .form-item.js-form-item .form-item-resend-message {
  display: none;
}

.complete-registration .user_form_content .registration-area form .form-item.js-form-item .additional-info a {
  clear: both;
  display: block;
}

/***************** CREDIT CARD INFORMATION FORM CSS STARTS HERE ************************/
.user_form_content .registration-area form .reg-tab-4 .step-4.form-item.js-form-item {
  margin: 0;
}

.user_form_content .registration-area form .reg-tab-4 .fieldset-cck {
  clear: both;
  padding: 15px 0 0;
  margin: 0;
}

.user_form_content .registration-area form .reg-tab-4 .fieldset-cck .panel-heading {
  margin: 0 0 15px;
}

.user_form_content .registration-area form .reg-tab-4 .fieldset-cck .panel-body .form-item-cck-month, .user_form_content .registration-area form .reg-tab-4 .fieldset-cck .panel-body .form-item-cck-year, .user_form_content .registration-area form .reg-tab-4 .fieldset-cck .panel-body .form-item-cck-csv {
  width: 50%;
  float: left;
}

.user_form_content .registration-area form .reg-tab-4 .fieldset-cck .panel-body .js-form-item.form-type-select.form-item-cck-month .select-wrapper, .user_form_content .registration-area form .reg-tab-4 .fieldset-cck .panel-body .js-form-item.form-type-select.form-item-cck-year .select-wrapper, .user_form_content .registration-area form .reg-tab-4 .fieldset-cck .panel-body .js-form-item.form-item-cck-csv input.form-control, .user_form_content .registration-area form .reg-tab-4 .fieldset-cck .panel-body .js-form-item.form-type-select.form-item-cck-month .alert, .user_form_content .registration-area form .reg-tab-4 .fieldset-cck .panel-body .js-form-item.form-type-select.form-item-cck-year .alert, .user_form_content .registration-area form .reg-tab-4 .fieldset-cck .panel-body .js-form-item.form-item-cck-csv .alert {
  width: calc(100% - 5px);
  float: left;
}

.user_form_content .registration-area form .reg-tab-4 .fieldset-cck .panel-body .js-form-item.form-type-select.form-item-cck-year .select-wrapper, .user_form_content .registration-area form .reg-tab-4 .fieldset-cck .panel-body .js-form-item.form-type-select.form-item-cck-year .alert {
  float: right;
}

.user_form_content .registration-area form .reg-tab-4 .fieldset-billing-info {
  margin: 35px 0 0;
}

.user_form_content .registration-area form .reg-tab-4 .fieldset-billing-info .panel-body .form-item-bi-city {
  clear: left;
  width: 40%;
  float: left;
}

.user_form_content .registration-area form .reg-tab-4 .fieldset-billing-info .panel-body .form-item-bi-postal-code {
  width: 30%;
  float: left;
}

.user_form_content .registration-area form .reg-tab-4 .fieldset-billing-info .panel-body .form-item-bi-state {
  width: 30%;
  float: left;
  padding: 0 10px;
}

.user_form_content .registration-area form .reg-tab-4 .fieldset-billing-info .panel-body .form-item-bi-state .select-wrapper:after {
  right: 10px !important;
}

.user_form_content .registration-area form .reg-tab-4 .fieldset-billing-info .panel-body .form-item-bi-state .select-wrapper select {
  padding: 10px 30px 10px 10px !important;
}

/**************************************************************************************************************************/
/************************************** USER REGISTRATION AND LOGIN FORM CSS ENDS HERE **********************************/
/**************************************************************************************************************************/
.user-login .sub-header,
.user-register .sub-header {
  margin-top: 45px;
}
.user-login .select-wrapper:after,
.user-login select:after,
.user-register .select-wrapper:after,
.user-register select:after {
  color: #808285 !important;
}
.user-login input::-webkit-input-placeholder, .user-register input::-webkit-input-placeholder {
  color: #808285 !important;
}
.user-login input::-moz-placeholder, .user-register input::-moz-placeholder {
  color: #808285 !important;
}
.user-login input:-ms-input-placeholder, .user-register input:-ms-input-placeholder {
  color: #808285 !important;
}
.user-login input::-ms-input-placeholder, .user-register input::-ms-input-placeholder {
  color: #808285 !important;
}
.user-login #edit-pass--description,
.user-login input,
.user-login input::placeholder,
.user-register #edit-pass--description,
.user-register input,
.user-register input::placeholder {
  color: #808285 !important;
}

.footer {
  border-top: none;
  margin-top: 0 !important;
  padding: 0 0 20px 0 !important;
}

.quick-link-sub-sec,
.top_right .calender_img {
  cursor: pointer;
}

.main_header h1 {
  padding: 10px 0;
}

.dash-main-right h1,
.dash-main-right a,
.main_header h1 a {
  font-family: lato !important;
  font-weight: inherit !important;
}

.dashboard .athletic_profile {
  border-right: none;
}

.top_right .athletic_profile {
  width: 125px;
  float: left;
  border-right: 1px solid grey;
  cursor: pointer;
}
.top_right .calender_img {
  float: left;
  width: 125px;
}

.profile-sec {
  width: 125px;
  text-align: center;
  border-left: 1px solid grey;
  margin: 0 auto;
}

.calender_img a:hover {
  text-decoration: none;
}

.faq-left {
  float: left;
}

.faq-right {
  float: right;
}
.faq-right img {
  width: 20px;
}

.faq li.q {
  height: 57px;
}

.faq li.a {
  font-size: 14px;
}

.dash-schedule {
  font-family: "Proxima Nova Rg";
  font-size: 28px;
  padding: 35px 0 0 15px;
}

.wrapper .dash-main-right {
  margin-bottom: 20px;
}

.main-head h6 {
  font-family: "Proxima Nova Rg";
  font-size: 14px;
}

.service-top-head {
  font-family: "Proxima Nova Rg";
  font-size: 14px;
}

#multistep-form-one > div.form-group > label:after {
  background-image: inherit;
  content: none;
}

#multistep-form-one > div.form-group > label,
#multistep-form-two > div.two > label,
#multistep-form-three > div.two > label,
#multistep-form-four > div.two > label {
  color: #f4650f;
  font-family: "Proxima Nova Rg";
  font-size: 14px;
}

#edit-service,
#edit-submit,
#edit-previous,
.assessment-time input,
#multistep-form-three > div.form-item input,
#multistep-form-four > div.form-item input,
#edit-expiration-month,
#edit-expiration-year,
#multistep-form-four h3 {
  font-family: "Proxima Nova Rg";
  font-size: 14px !important;
}

.wrapper #edit-submit {
  float: left !important;
}

.wrapper .form-actions .btn, .form-actions .btn-group {
  padding: 5px 30px;
}

.timeslots > fieldset > legend > span {
  font-family: "Proxima Nova Rg";
  font-size: 14px;
}

#sidenav > ul li nav div a.drop,
#sidenav > ul li nav div a.drop:hover,
a.side_button,
a.side_button:hover {
  text-decoration: none;
}

.mob_bottom_margin .quick-link-sub-sec p,
.quick-link-sub-sec p {
  font-size: 14px !important;
}

.quick-link-sub-sec i {
  font-size: 50px !important;
}

.tab-main-sec .tab-nav {
  border-top: none !important;
  padding: 0 0 0 15px;
}

.month_filter {
  margin: 0 0 19px !important;
}

.tab-nav ul li a {
  font-weight: normal !important;
}

#block-assessmentscustomview .col.assessment_inner,
#block-upcominggroupassessments .col {
  background: #f1f3f2 !important;
}

.timing span {
  bottom: 10px !important;
}