/*
*Responsive css here
*/

@media(min-width:100px) and (max-width:579px) {	
	div#upcoming_bk, .bfssmanager-dashboard div#upcoming_bk{grid-template-columns:1fr !important;}
	.wrapper .main-head h6{font-size:12px;word-break:break-all;}
}

@media(min-width:580px) and (max-width:767px) {
	div#upcoming_bk, .bfssmanager-dashboard div#upcoming_bk{grid-template-columns:1fr 1fr !important;}
}	

@media(max-width:1073px) {	
	body.dashboard .main-container{padding-top:60px;}
	.dashboard .row.border_bottom.custom-nav-box{position:fixed;z-index:9999;width:100vw;top:0;left:0;margin:0;height:60px;-moz-justify-content:space-between;-webkit-justify-content:space-between;justify-content:space-between;}
	.dashboard .row.border_bottom.custom-nav-box:before, .dashboard .row.border_bottom.custom-nav-box:after, .tab-main-sec .tab-main-sec-heading:before, .tab-main-sec .tab-main-sec-heading:after{display:none;}
	.tab-main-sec .tab-main-sec-heading{padding:0 15px;-moz-justify-content:space-between;-webkit-justify-content:space-between;justify-content:space-between;}
	.tab-main-sec .tab-main-sec-heading > div{flex:0 0 45%;padding:0;max-width:45%;}
 	body.dashboard .header_leftbar .navbar .navbar-brand{display:none;}
 	body.dashboard .header_leftbar .navbar{height:100%;padding:0 !important;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-moz-justify-content:flex-start;-webkit-justify-content:flex-start;justify-content:flex-start;}
 	body.dashboard .header_leftbar .navbar #cssmenu{margin:0;padding:0 15px;}	
	body.dashboard .custom-nav-box .header_rightbar .top_right{width:190px;flex: 0 0 190px;max-width:190px;display:none;}	
 	body.dashboard .custom-nav-box .header_rightbar .top_right.toggle2{display:block;position:absolute;left:15px;top:60px;z-index:9999;}
 	body.dashboard .chat-popup{top:60px;}
 	.dashboard-menu{padding:0;width:40px;}
 	.dashboard-menu span{display:block;cursor:pointer;}
 	.dashboard-menu span i{color:#f76907;font-size:30px;width:100%;float:left;display:block;line-height:8px;text-align:center;}
  	body.dashboard .custom-nav-box .header_rightbar .row{-moz-justify-content:flex-end;-webkit-justify-content:flex-end;justify-content:flex-end;}
  	body.dashboard .profile_img_section .profile-sec{border:0;height:100%;width:auto;padding:7.5px 15px 10px 0;}
  	body.dashboard .profile_img_section .profile-sec img{display:block;border-radius:50%;width:40px;height:40px;box-shadow:2px 3px 3px rgba(0,0,0,.5);}
	body.dashboard .left_side_section{position:fixed;left:-250px;top:60px;z-index:999;width:250px;-moz-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;bottom:0;padding:0;height:calc(100vh - 60px);overflow-x:hidden;overflow-y:auto;}
	body.dashboard.open_left_side_mobile .left_side_section{left:0;}
	body.dashboard.open_left_side_mobile .right_side_section{transform:translateX(240px);-moz-transform:translateX(240px);-webkit-transform:translateX(240px);}
  	body.dashboard .right_side_section{width:100%;float:right;-moz-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
  	.user_pro_block .block-bfss-assessors.block-events-listing, .user_pro_block .block-bfss-assessors.block-private-accessments-block{padding:0;border:0;}
  	.user_pro_block .block-bfss-assessors .table-responsive table{border:0;}  	
	#assessor_popup_form .accessorform_inner{padding:20px;}
	.dashboard .my-assessment{margin:20px 0 0;}
	.dashboard nav .dropdown .drop .down-arrow{color:#fff;}
	.block-bfss-assessment ul.faq.faqct{width:100%;float:left;display:block;padding:0 15px;}
	.block-bfss-assessment .faq li.q{padding:15px 20px;height:auto;line-height:24px;width:100%;float:left;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-moz-justify-content:space-between;-webkit-justify-content:space-between;justify-content:space-between;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
	.block-bfss-assessment .faq li.a{width:100%;float:left;}
	.block-bfss-assessment .faq li.q .faq-right{padding-left:10px;}
	.dashboard .region.region-content{width:100%;}
	.dashboard #edit-form{grid-template-columns:1fr;}
	.mob_bottom_margin .quick-link-sub-sec p, .quick-link-sub-sec p, #sidenav > ul > li nav div a span.side_menu_text, #sidenav > ul > li.sub_menu.active > a > span, #sidenav > ul > li nav div ul li a{font-size:14px !important;line-height:16px !important;}
	.dashboard .sidenav ul.dropdown-menu.open li a{padding:10px 15px 10px 30px;}
	.wrapper #multistep-form-three div.js-form-item.form-item-first-name{margin:0 10px 15px 0 !important;}
	.wrapper #multistep-form-three div.js-form-item.form-item-last-name{margin:0 0 15px 10px !important;}
	.wrapper #multistep-form-three div.js-form-item.form-item-first-name, .wrapper #multistep-form-three div.js-form-item.form-item-last-name{float:left;width: calc(49.5% - 10px);padding:0;}
	.wrapper #multistep-form-three div.js-form-item.form-item-first-name input, .wrapper #multistep-form-three div.js-form-item.form-item-last-name input{margin:0;}
	.wrapper #multistep-form-four div.form-item-cvv{width:100%;}
	.wrapper #multistep-form-four div.form-item-city, .wrapper #multistep-form-four div.form-item-country, .wrapper #multistep-form-four div.form-item-state, .wrapper #multistep-form-four div.form-item-zip{width:49%;}
	.wrapper input#edit-city{width:100%;}
	.timeslots-main{width:100%;float:left;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-moz-justify-content:space-between;-webkit-justify-content:space-between;justify-content:space-between;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
	.wrapper #multistep-form-two .timeslots-main .timeslots{width:48%;float:left;display:block;margin:30px 0 0;}
	.wrapper #multistep-form-two .timeslots-main .timeslots .fieldset-legend{display:block;width:100%;text-align:center;}
}