@charset "utf-8";
/* CSS Document */

/**************** DASHBOARD CSS STARTS HERE *******************/
.left_side_section{background:#000;border-right:1px solid grey;width:19%;transition:width 0.5s;float:left;min-height:calc(100vh - 100px);}
.dashboard footer.footer{display:none;}
.dash-main-right h1{font-size:15px;padding:15px 20px;margin-bottom:0;color:#000;font-family:montserrat, sans-serif !important}
.dash-main-right h1 i{color:#f76907;}
.dash-main-right h1 span{padding:0 5px 0 7px;display:inline-block;}
.dash-sub-main{display:flex;background:#fffcd7;padding:15px 15px 15px 40px;border:1px solid #343434;}
.dash-sub-main img{width:72px;height:72px;margin-right:15px;}
.dash-sub-main h2 span{font-size:13px;font-weight:600;text-transform:uppercase;}
.dash-sub-main h2{font-size:25px;}
.dashboard ul.side_nav{list-style-type:none;}


/* ---------Quick Link sec CSS STARTS HERE *******************/
div.quick-link{margin:40px 0;}
.quick-link h1{font-size:14px;margin:0 0 8px;font-weight:600;text-transform:uppercase;}
.quick-link-sub-sec{text-align:center;padding:10px;background:#fffcd7;border:1px solid #6b6b6b;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-moz-align-content:center;-webkit-align-content:center;align-content:center;-moz-justify-content:center;-webkit-justify-content:center;justify-content:center;}
.quick-link-sub-sec i{font-size:40px;color:#f76907;margin-bottom:10px;}
.quick-link-sub-sec p{margin-bottom:0px;font-size:12px;color:#000;font-weight:600;width:100%;}
/* ---------Quick Link sec CSS ENDS HERE *******************/

/* ---------Quick-Link-ACCORDIAN CSS STARTS HERE *******************/

.quick-link .accordion{background-color:#eee;color:#444;cursor:pointer;padding:18px;width:100%;border:none;text-align:left;outline:none;font-size:15px;transition:0.4s;}
.active, .accordion:hover{background-color:#ccc;}

.dashboard .my-assessment button.accordion{background-color:#000;color:#fff;position:relative;}
.dashboard .my-assessment button.accordion i{color:#f76907;font-size:16px;pointer-events:none;font-weight:400;}
.dashboard .my-assessment button.accordion i:first-child{padding-right:15px;}
.dashboard .my-assessment{position:relative;}
.dashboard .my-assessment .panel{display:block;padding:0;position:absolute;width:100%;border:none;background-color:white;overflow:hidden;border:1px solid #949494;}
.dashboard .my-assessment .panel .panel_row{width:100%;float:left;display:block;padding:15px;border-bottom:1px solid #ccc;}
.dashboard .my-assessment .panel .panel_row h3{font-size:16px;color:#f76907;font-weight:500;letter-spacing:.1px;margin:0;line-height:20px;}
.dashboard .my-assessment .panel .panel_row:first-child h3{color:#000;}
.dashboard .my-assessment .panel .panel_row:first-child p{color:darkgreen;opacity:1;}
.dashboard .my-assessment .panel .panel_row p{font-size:14px;font-weight:500;line-height:18px;opacity:.6;}
/* ---------Quick-Link-ACCORDIAN CSS ENDS HERE *******************/
.right_side_section .tab-main-sec .col-xl-9.col-lg-8.col-md-6.col-6, .right_side_section .tab-main-sec .col-xl-3.search_icon{margin:0;}
.tab-main-sec .tab-main-sec-heading h2{font-size:16px;margin:0;opacity:.6;padding:0 0 20px;}
.tab-main-sec .tab-main-sec-heading h2 span{position:relative;}
.tab-main-sec .tab-main-sec-heading h2 span:after{content:" ";height:3px;background:transparent url("../images/grey-dot.png") repeat-x left center/5px 5px;width:100%;display:block;position:absolute;left:0;bottom:-8px;opacity:.6;}
.tab-main-sec .tab-main-sec-heading h2 i{color:#4c4c4c;font-size:20px;line-height:20px;position:relative;top:2px;}
.dashboard .search_icon{text-align:right;}
.dashboard .search_icon a{line-height:20px;color:#000;opacity:.6;}
.search_icon_field{display:inline-block;height:25px;border:1px solid #ced4da;margin:0;padding:0 20px;position:relative;width:112px;border-radius:5px;}
.search_icon_field > i{position:absolute;color:#000;right:5px;top:6px;opacity:.6;font-weight:600;}
.search_icon_field > i:first-child{left:5px;right:auto;}
.dashboard .search_icon a{line-height:48px;color:#909090;}
#date-picker-example{display:inline-block;border-color:transparent;border-radius:0;padding:0;text-align:center;box-shadow:0;outline:0;position:relative;top:-1px;}
#date-picker-example:hover, #date-picker-example:focus{outline:none;box-shadow:none;}
.tab-main-sec .tab-nav{border-top:1px solid #9090906b;padding:0;}

.tab-nav ul{list-style-type:none;padding:10px 0 0;}
.tab-nav ul li{display:inline-block;padding-right:20px;}
.tab-nav ul li a{color:#808080;font-size:14px;font-weight:600;font-family:montserrat, sans-serif}
.tab-nav ul li a:hover{text-decoration:none;color:#4c4c4c;}


/* --------- BFSS MANAGER CSS STARTS HERE *******************/
.bfss-main{width:65%;float:left;display:block;margin:3rem 0;}
.bfss-main h3{width:100%;float:left;display:block;background-color:#000;margin:0;color:#fff;font-size:14px;padding:15px;line-height:16px;border:1px solid #000;}
.bfss-main .content-bfss{width:100%;float:left;display:block;border:1px solid #4c4c4c;padding:40px 25px;}
.bfss-main .content-bfss p{display:inline-block;float:right;color:#000;font-size:14px;line-height:20px;}
.bfss-main .content-bfss p:first-child{float:left;}
.bfss-main .content-bfss p .switch{position:relative;display:inline-block;width:35px;height:20px;margin:0;}
.bfss-main .content-bfss p .switch input{opacity:0;width:0;height:0;}
.bfss-main .content-bfss p .switch input:checked + .slider{background-color:darkgreen;}
.bfss-main .content-bfss p .switch input:checked + .slider::before{-webkit-transform:translateX(10px);-ms-transform:translateX(10px);transform:translateX(10px);}
.bfss-main .content-bfss p .switch .slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;-webkit-transition:.4s;transition:.4s;}
.bfss-main .content-bfss p .switch .slider::before{position:absolute;content:" ";height:15px;width:15px;left:5px;bottom:3px;background-color:white;-webkit-transition:.4s;transition:.4s;}
.bfss-main .content-bfss p .switch .slider.round{border-radius:24px;}
.bfss-main .content-bfss p .switch .slider.round::before{border-radius:50%;}

/* --------- DASHBOARD ASSESMENT BLOCK CSS STARTS HERE *******************/
.assessment_block .timing h2{color:#000;}
.block-assessments-view-block{width:100%;float:left;display:block;}
#block-assessmentscustomview .container{padding:0 !important;}
#block-assessmentscustomview .assessment_block{margin:0;width:100%;float:left;}
#block-assessmentscustomview .col.assessment_inner{padding:5px;background:#fffcd7;margin:5px 10px;width:calc(33.3% - 20px) !important;border-color:#b4b6b5;float:left;-ms-flex-preferred-size:unset;
    flex-basis:unset;-ms-flex-positive:unset;flex-grow:unset;}
#block-assessmentscustomview .assessment_block .timing h2{font-size:16px;padding-right:25px;}

#block-upcominggroupassessments .col{width: 24%;display: inline-block; margin: 10px; padding:10px; background-color:#fffcd7; cursor: pointer;}
/* --------- DASHBOARD DETAILS POPUP CSS STARTS HERE *******************/

.dashboard-profile .simple-popup-blocks-global .popup_form_id-modal .spb-popup-main-wrapper{max-height:84vh;margin:8vh 0;border:none;padding:30px 50px 50px;}
.simple-popup-blocks-global form > .control-label{font-size:18px;margin:0 0 25px;color:#000;font-weight:400;}

.simple-popup-blocks-global form .left_section{width:70%;float:left;display:block;padding-bottom:50px;}
.simple-popup-blocks-global form .left_section .athlete_left h3, .simple-popup-blocks-global form .right_section .athlete_right h3{font-weight:400;font-size:13px;border:1px solid #000;padding:10px 15px;}
.simple-popup-blocks-global form .left_section .athlete_left h3 i, .simple-popup-blocks-global form .right_section .athlete_right h3 i{font-weight:400;}
.simple-popup-blocks-global form .left_section .athlete_left h3 .right-icon, .simple-popup-blocks-global form .right_section .athlete_right h3 .right-icon{top:12px;right:0;}
.simple-popup-blocks-global form .left_section .items_div, .simple-popup-blocks-global form .right_section .items_div{border:1px solid #4c4c4c;padding:40px 0;}
.simple-popup-blocks-global form .left_section .items_div .form-item.js-form-item, .simple-popup-blocks-global form .right_section .items_div .form-item.js-form-item{padding:0 10px;margin:0 0 30px;}
.simple-popup-blocks-global form .left_section .items_div .form-item.js-form-item:last-child{margin:0;}
.simple-popup-blocks-global form .left_section .items_div .form-item.js-form-item .form-control, .simple-popup-blocks-global form .right_section .items_div .form-item.js-form-item .form-control, .simple-popup-blocks-global form .right_section .items_div .form-item.js-form-item .form-control:hover, .simple-popup-blocks-global form .right_section .items_div .form-item.js-form-item .form-control:focus{height:30px;margin:0;outline:none;font-size:13px;}
.simple-popup-blocks-global form .left_section .items_div .form-item.js-form-item .form-control:hover, .simple-popup-blocks-global form .left_section .items_div .form-item.js-form-item .form-control:focus{background:#f1f3f2;outline:none;}
.simple-popup-blocks-global form .left_section .items_div .add_pos_div{padding:0;float:left;width:100%;display:block;}
.simple-popup-blocks-global form .left_section .items_div .add_pos_div .form-item.js-form-item{margin:0 0 40px;}
.simple-popup-blocks-global form .left_section .items_div .add_pos_div a.add_pos_first{margin-right:15px !important;}
.simple-popup-blocks-global form .left_section .items_div .add_pos_div a.add_pos_first, .simple-popup-blocks-global form .left_section .items_div .add_pos_div .remove_pos_first{position:relative;margin:0;top:-30px;left:15px;font-size:13px;}
.simple-popup-blocks-global form .left_section .items_div .add_pos_div a.add_pos_first i , .simple-popup-blocks-global form .left_section .items_div .add_pos_div a.remove_pos_first i{padding-right:5px;font-weight:400;}
.simple-popup-blocks-global form .left_section a.add_org.popup_add_org{padding:0;}
.simple-popup-blocks-global form .left_section a.add_org.popup_add_org i{font-weight:400;}
.athlete_submit button.form-submit.button{background-color:darkgreen;border-color:darkgreen;color:#fff;width:100%;display:block;height:40px;font-weight:500;font-style:18px;line-height:20px;}

.simple-popup-blocks-global form .right_section{width:calc(30% - 25px);float:right;display:block;margin-left:25px;}
.simple-popup-blocks-global form .right_section > .form-item.js-form-item{margin:0;}

/*************** MY AUTHENTIC PROFILE POP UP CSS STARTS HERE ****************************/

/*************** MY AUTHENTIC PROFILE POP UP CSS ENDS HERE ****************************/
.calender_event_pop_up, .calender_event_pop_up .tophead, .calender_event_pop_up .ticketing, .calender_event_pop_up .details{width:100%;float:left;display:block;}
.calender_event_pop_up .container{padding:0;}
.calender_event_pop_up .tophead .image{width:55%;float:left;display:block;}
.calender_event_pop_up .tophead .title-timing{width:45%;float:left;display:block;padding:38px;}
.calender_event_pop_up .tophead .title-timing h2{margin:25px 0 0;font-size:25px;font-weight:700;}
.calender_event_pop_up .tophead .title-timing .loca{font-size:15px;}
/*.calender_event_pop_up .ticketing{border-top:1px solid #aaa;border-bottom:1px solid #aaa;border-left:0;border-right:0;}*/
.calender_event_pop_up .ticketing .share{display:inline-block;float:left;}
.calender_event_pop_up .ticketing .ticket{display:inline-block;float:right;padding:0;}
.calender_event_pop_up .details{padding:20px;}
.calender_event_pop_up .details .body{width:55%;float:left;display:block;font-size:19px;}
.calender_event_pop_up .details .date-location{width:45%;float:left;display:block;padding:0 25px;}
.calender_event_pop_up .details .date-location p{margin:0;}


.dashboard .profile_img_section .profile-sec{border-left:1px solid grey;margin:0;width:125px;background:#030000;text-align:center;height:100px;padding:10px 0px;position:relative;cursor:pointer;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-moz-justify-content:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;float:right;}
.dashboard .profile_img_section .profile-sec img{width:100%;max-width:60px;}
.chat-popup{position:absolute;z-index:9;width:250px;right:10px;border:1px solid #bebebe;top:80px;}
.dashboard.modal-open .card #collapseTwo button.btn-success{background:#000;}

/**************** DASHBOARD CSS ENDS HERE *******************/

.col-lg-2.col-md-3.col-sm-6.col-6.pr-0.pl-0.athletic_icon_section{cursor:pointer;}
nav.navbar.navbar-expand-xs.bg-dark.navbar-dark{background:black !important;padding:23.8px 10px;}
.modal-header{padding:0px !important;}
.modals-section img{width:96.5%;margin-left:15px;}
.modals-bg h4{color:orange !important;padding-top:18px !important;margin-left:32px;font-size:21px;}
.modals-bg{height:244px !important;background-color:#e6e7e8;width:95.9%;}
.modal-footer{border-top:none !important;}
.modals-bg h1{font-size:19px;font-weight:bold;margin-left:32px;}
.modals-bg p{margin-left:32px;}
.newzz{padding:0px !important;}
.navbar{margin:0;position:relative;}
.navbar:before{display:none;}
.navbar .navbar-collapse.collapse{display:none !important;top:75px;background:#000;z-index:99;width:100%;left:0;position:absolute;}
.navbar .navbar-collapse.collapse.show.in{display:block !important;}
.navbar .navbar-brand{padding:0;max-width:135px;margin:0;}
a.navbar-brand img{width:100%;}
.calender_img{background:#030000;text-align:center;border-left:1px solid #fff;border-right:1px solid #fff;height:100px;}
.calender_img img{padding:10px 0px;}
.athletic_profile{background:#030000;text-align:center;border-right:1px solid #fff;height:100px;}
.athletic_profile img{padding:10px 0px;}
.calender_img p{color:#fff;margin-bottom:0px;line-height:14px;font-size:12px;padding-bottom:5px;}
.athletic_profile p{color:#ffd537;margin-bottom:0px;line-height:14px;font-size:12px;padding-bottom:5px;}
.bell-icon-sec{background:#030000;text-align:center;height:100px;padding:22px}
#sidenav{background-color:#000000;}
ul.side_nav{padding:0px;}
ul.side_nav li{border-bottom:1px solid #fff;line-height:50px;}
button.side_button{background:transparent;color:#fff;font-size:14px;text-transform:capitalize;border:none;cursor:pointer;text-decoration:none;}
div#sidenav ul li i{color:#f76907;font-size:15px;margin-right:15px;}
ul.side_nav .sub_menu{padding:0px 10px;}
li.sub_menu button{padding:0px;}
li.sub-menu-drop .drop{padding:0px 10px !important;}
li.sub_menu button:focus{outline:none !important;}
li.sub_menu.active{background-color:#f76907;}
li.sub_menu.active i{color:#fff !important;}
ul.dropdown-menu.open li a{padding:0px 0px 0px 20px;}
ul.dropdown-menu.open li a:hover{text-decoration:none;background-color:#f76907;color:#fff;}
.dropdown{position:relative;display:inline-block;width:100%;}
.dropdown .drop{background-color:#2f2f2f;}
.dropdown .drop{background-color:transparent;color:#fff;padding:0px;border-radius:6px;position:relative;display:inline-block;font-size:14px;}
 a.drop:hover{text-decoration:none;}
 .down-caret{width:0;height:0;border-style:solid;border-width:5px 5px 0 5px;border-color:#ffffff transparent transparent transparent;display:inline-block;margin-left:10px;top:-3px;position:relative;transform:rotate(0deg);transition:all 0.25s ease-in;}
.dropdown .dropdown-menu{width:100%;margin:0;margin-top:8px;padding:0;position:relative !important;float:left;max-height:0;overflow:hidden;transition:all 0.55s linear;background-color:#fff;border-radius:unset;background-clip:unset;}
.dropdown{position:relative;display:inline-block;}
 .drop{background-color:#3498db;color:#fff;padding:1rem;border-radius:6px;position:relative;display:inline-block;}
 .dropdown > .dropdown-menu.open{max-height:300px;height:auto;transition:all 0.25s linear;display:block;}
.dropdown > .dropdown-menu > li > a{padding:0.5rem 1rem;display:block;color:#555;text-align:left;transition:all 0.25s linear;font-size:14px;padding:0px 0px;border-bottom:1px solid #909090;}
 .open li a:hover{background-color:#3498db;color:#fff;}
 .open-caret{transform:rotate(180deg);transition:all .25s ease-out;}

/* -------profile-pop-css----------- */

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button{background-color:#555;color:white;padding:16px 20px;border:none;cursor:pointer;opacity:0.8;position:fixed;bottom:23px;right:28px;width:280px;}

/* Add styles to the form container */
.form-container{max-width:300px;padding:10px;background-color:white;}
.pop_img_sec img{width:100%;border:2px solid #f76907;}
/* Full-width textarea */
.form-container textarea{width:100%;padding:15px;margin:5px 0 22px 0;border:none;background:#f1f1f1;resize:none;min-height:200px;}
/* When the textarea gets focus, do something */
.form-container textarea:focus{background-color:#ddd;outline:none;}
/* Set a style for the submit/send button */
.form-container .btn{background-color:#4CAF50;color:white;padding:16px 20px;border:none;cursor:pointer;margin-bottom:10px;opacity:0.8;}
/* Add a red background color to the cancel button */
.form-container .cancel{background-color:red;padding:4px 15px;float:right;}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover{opacity:1;}
.pop_img_sec{border-bottom:1px solid #9b9b9b;padding-bottom:8px;margin-bottom:10px;}
.pop_img_sec h2{font-size:20px;text-align:left;}
.pop_img_sec p{font-size:16px;text-align:left;}
.pop_text_sec{text-align:left;}
.pop_text_sec a p{margin-bottom:0px;line-height:35px;font-size:13px;color:#f76907;font-weight:600;}
.pop_text_sec a p i{color:#000;margin-right:6px;}
.pop_text_sec a:hover{text-decoration:none;}
.pop_text_sec a p:hover{color:#000;}
 .pop_text_sec a i:hover{color:#f76907;}
/* -------profile-pop-css-----End------ */

/* -------profile-Modal-css-------Start---- */

.modal .modal-dialog{max-width:700px;}
.modal .modal-dialog .modal-content{width:100%;padding:0;overflow-y:auto;overflow-x:hidden;}
.profile-right-modal .modal-body button.accordion{background-color:#000;color:#fff;}
.profile-right-modal .accordion{background-color:#eee;color:#444;cursor:pointer;padding:8px 15px;width:100%;border:none;text-align:left;outline:none;font-size:15px;transition:0.4s;}
.profile-right-modal .active, .accordion:hover{background-color:#ccc;}
.profile-right-modal .modal-body .panel{padding:16px 16px 0px 16px;display:none;background-color:white;overflow:hidden;border:1px solid #949494;}
.profile-right-modal .modal-body .panel p{font-size:12px;font-weight:600;}
.profile-right-modal .modal-body input{width:100%;margin-bottom:15px;padding:3px;}
.profile-right-modal .modal-body input::placeholder{font-size:12px;font-weight:600;}
.profile-right-modal .modal-body textarea::placeholder{font-size:12px;font-weight:600;}
.profile-right-modal .form-control{padding:3px;font-size:12px;font-weight:600;}
.profile-right-modal .modal-title{font-size:18px;padding:15px 0px 5px 16px;}
.profile-right-modal .modal-header{border-bottom:none;}
.profile-right-modal .modal-footer button{width:100%;background-color:#115719;}
.social-club-sec{margin-top:25px;}
.social-club-sec a{color:#f76907;font-size:14px;font-weight:600;}
.social-club-sec a:hover{text-decoration:none;color:#f76907;}
.social-club-sec a i{margin-right:5px;font-size:12px;}
.social-club-sec textarea{width:100%;margin-bottom:15px;padding:5px;}
.social-club-sec h3{line-height:0px;margin-bottom:12px;}
 .profile-right-modal button.accordion i{float:right;line-height:22px;color:#f76907;}
h3.add-organization{margin-top:12px;}

/* -------profile-Modal-css-------End---- */


/* ------------Card---css------ */
.profile-card .card{padding:5px;background-color:#e7e7e7;border-radius:unset;border:1px solid #8a8a8a;}
.card-sub{display:flex;}
.card-sub h1{font-size:14px;width:85%;margin-bottom:0px;font-weight:600;}
.card-sub p{width:15%;font-size:10px;text-align:center;background:#f76907;line-height:15px;padding:3px;color:#fff;margin-bottom:0px;}
.card-sub p span{font-size:15px;font-weight:600;}
.time-sec{font-size:10px;margin-bottom:3px;margin-top:2px;color:#58595b;}
.card-img-sec ul li{display:inline-block;font-size:10px;padding-right:8px;margin-bottom:0px;}
.card-img-sec ul li::before{display:inline-block;content:'';-webkit-border-radius:50%;border-radius:50%;height:6px;width:6px;margin-right:3px;background-color:#f66907;color:#58595b;}
.card-img-sec ul{list-style-type:none;padding-left:0px;margin-bottom:0px;}
.card-img-sec p{font-size:10px;margin-bottom:5px;color:#58595b;}
.card-img-sec img{background:#fff;padding:8px 6px 8px 6px;}
.profile-card.profile-card-second{margin-top:10px;}

/* Menu Css */
.menutoggle.open{display:block;}
.menutoggle li{width:100%;float:left;display:block;margin:10px 0px 0px 0px;text-align:center;}
.menutoggle li a{color:#555;font-size:14px;line-height:18px;}
.menutoggle{position:absolute;margin:0;list-style-type:none;z-index:99;background:#e7e7e7;padding:25px;right:0;width:70%;top:70px;display:none;}
ul.menutoggle.open li a:hover{text-decoration:none;background-color:#f76907;color:#fff;padding:10px 30px 10px 30px;}
span.navbar-toggler-icon{cursor:pointer;}
/*******************/

.bfss_manager_inner{border: 1px solid #aeaeae;padding: 20px 0px;}
.bfss_manager_form{width: 80%;margin: auto;}
.bfss_manager_black_layer h4{background: #000;color: #fff;margin: 0;padding: 10px 20px;}
.full_inputs input{width: 100%;height: 30px;padding: 0 15px;border: 1px solid #aeaeae;margin: 12px 0px;}
.half_inputs select{width: 100%;height: 30px;/* margin: 12px 0px; */}
.half_inputs input{width: 100%;height: 30px;/* margin: 12px 0px; */}
.half_inputs_feild input{width: 100%;height: 30px;/* margin: 12px 0px; */}
.half_inputs{display: grid;grid-template-columns: 1fr 1fr;grid-gap: 20px;}
.half_inputs_feild{display: grid;grid-template-columns: 1fr 20% 20%;grid-gap: 20px;}
.half_inputs_feild select{width: 100%;height: 30px;/* margin: 12px 0px; */}
.number input[type="number"]{width: 100%;height: 30px;padding: 0 15px;border: 1px solid #aeaeae;margin: 12px 0px;}
.bfss_manager{margin:10px 0 30px;}
select#zip{width:100%;}
.bfss_manager_page{display: grid;grid-template-columns: 1fr 30%;grid-gap: 20px;grid-gap: 30px;padding:20px}

.bfss_manager_inner_sec{margin:30px 0px;}
.left_manager_inner{border: 1px solid #aeaeae;}
.left_manager_inner ul{margin: 0;list-style: none;padding:0;}
.left_manager_inner p{margin: 0;color: #868383;}
.left_manager_inner ul li a{width: 100%;text-decoration: none;color: #f76907;}
.left_manager_inner li{padding: 10px 15px;border-top: 1px solid #aeaeae;}
span.side_menu_text.dashboard {color: #fff;font-size: 16px;}
.calender_img a {text-decoration: none;}



/************ SELECT MONTH CSS STARTS HERE **************/
.month_filter{margin:5px 0 0;}
.month_filter, .month_filter form{width:100%;float:left;display:block;}
.month_filter form span#dateofshow{float:left;margin-right:15px;}
.month_filter form span#dateofshow i{float:left;line-height:30px;font-size:18px;position:relative;top:1px;}
.month_filter form span#dateofshow .js-form-item.form-type-select{float:left;margin:0;}
.month_filter form .select-wrapper{height:30px;}
.month_filter form .select-wrapper:after, .month_filter form .filter_btn{display:none;}
.month_filter form .select-wrapper .form-select.form-control{cursor:pointer;color:#f76907;border-radius:0;border:0;outline:none;box-shadow:none;font-size:16px;padding:0;line-height:30px;height:30px;text-align:center;text-align-last:center;}
.month_filter form .select-wrapper .form-select.form-control .list .option{font-size:14px;color:#000;border:1px solid transparent;}
.month_filter form .select-wrapper .form-select.form-control .list .option:hover, .month_filter form .select-wrapper .form-select.form-control .list .option:focus{background-color:#f76907;border:1px solid #f76907;color:#fff;}
.month_filter form .input-group .input-group-addon{display:none;}
.month_filter form .form-actions.js-form-wrapper{float:left;}
.month_filter form .form-actions.js-form-wrapper button{background-color:#f76907;border:1px solid #f76907;}


/********************Nice select css start************************/
.nice-select{-webkit-tap-highlight-color:transparent;background-color:#fff;border-radius:5px;border:solid 1px #e0e7ee;box-sizing:border-box;clear:both;cursor:pointer;display:block;float:left;font-family:inherit;font-size:14px;font-weight:normal;height:42px;line-height:40px;outline:none;padding-left:18px;padding-right:30px;position:relative;text-align:left !important;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap;width:auto;}
 .nice-select:hover{border-color:#d0dae5;}
 .nice-select:active, .nice-select.open, .nice-select:focus{border-color:#88bfff;}
 .nice-select.open:after{-webkit-transform:rotate(-135deg);-ms-transform:rotate(-135deg);transform:rotate(-135deg);}
 .nice-select.open .list{opacity:1;pointer-events:auto;-webkit-transform:scale(1) translateY(0);-ms-transform:scale(1) translateY(0);transform:scale(1) translateY(0);}
 .nice-select.disabled{border-color:#e7ecf2;color:#90a1b5;pointer-events:none;}
 .nice-select.disabled:after{border-color:#cdd5de;}
 .nice-select.wide{width:100%;}
 .nice-select.wide .list{left:0 !important;right:0 !important;}
 .nice-select.right{float:right;}
 .nice-select.right .list{left:auto;right:0;}
 .nice-select.small{font-size:12px;height:36px;line-height:34px;}
 .nice-select.small:after{height:4px;width:4px;}
 .nice-select.small .option{line-height:34px;min-height:34px;}
 .nice-select .list{background-color:#fff;border-radius:5px;box-shadow:0 0 0 1px rgba(68, 88, 112, 0.11);box-sizing:border-box;margin-top:4px;opacity:0;overflow:hidden;padding:0;pointer-events:none;position:absolute;top:100%;left:0;-webkit-transform-origin:50% 0;-ms-transform-origin:50% 0;transform-origin:50% 0;-webkit-transform:scale(0.75) translateY(-21px);-ms-transform:scale(0.75) translateY(-21px);transform:scale(0.75) translateY(-21px);-webkit-transition:all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;transition:all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;z-index:9;}
 .nice-select .list:hover .option:not(:hover){background-color:transparent !important;}
 .nice-select .option{cursor:pointer;font-weight:400;line-height:40px;list-style:none;min-height:40px;outline:none;padding-left:18px;padding-right:29px;text-align:left;-webkit-transition:all 0.2s;transition:all 0.2s;}
 .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus{background-color:#f6f7f9;}
 .nice-select .option.selected{font-weight:bold;}
 .nice-select .option.disabled{background-color:transparent;color:#90a1b5;cursor:default;}
.no-csspointerevents .nice-select .list{display:none;}
.no-csspointerevents .nice-select.open .list{display:block;}
/********************Nice select css end************************/

/*************** ASSESSORS CSS STARTS HERE ******************/
.user_pro_row .userpr{width:100%;float:left;display:block;padding:0;margin:20px 0 10px;list-style-type:none;}
.user_pro_row .userpr li{display:inline-block;font-size:14px;line-height:20px;margin-right:50px;}
.user_pro_row .userpr li:last-child{margin-right:0;}
.user_pro_row .userpr li i{color:#f76907;}
.user_pro_block{width:100%;float:left;display:block;margin:0 0 30px;padding: 0 1rem;}
.user_pro_block h2{background:#000;color:#fff;padding:10px;width:100%;float:left;display:block;margin: 30px 0 12px;font-size:14px;line-height:18px;}
.user_pro_block .block-bfss-assessors{width:100%;float:left;display:block;border-bottom:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;padding:20px 40px;}
.user_pro_block .block-bfss-assessors .table-responsive table{border:1px solid #6d6e72;border-collapse:unset;}
.user_pro_block .block-bfss-assessors .table-responsive table thead{background-color:#6d6e72;}
.user_pro_block .block-bfss-assessors .table-responsive table thead th{padding:15px 12px;text-transform:capitalize;}
.user_pro_block .block-bfss-assessors .table-responsive table thead th a{color:#ffffff;font-weight:400;font-size:14px;display:block;line-height:14px;}
.user_pro_block .block-bfss-assessors .table-responsive table thead th a:hover, .user_pro_block .block-bfss-assessors .table-responsive table thead th a:focus{text-decoration:none;}
.user_pro_block .block-bfss-assessors .table-responsive table thead th a span{float:right;text-align:center;}
.user_pro_block .block-bfss-assessors .table-responsive table thead th a span.icon{display:none;}
.user_pro_block .block-bfss-assessors .table-responsive table thead th a span:before{content:"\e253";}
.user_pro_block .block-bfss-assessors .table-responsive table thead th a span:after{content:"\e252";}
.user_pro_block .block-bfss-assessors .table-responsive table thead th a span:before, .user_pro_block .block-bfss-assessors .table-responsive table thead th a span:after{font-size:8px;color:#000;height:8px;line-height:8px;display:block;width:10px;font-family:"Glyphicons Halflings";}
.user_pro_block .block-bfss-assessors .table-responsive table tbody td{color:#000;font-size:13px;padding:15px 10px;text-transform:capitalize;}
.user_pro_block .block-bfss-assessors .table-responsive table tbody td a{color:#f76907;position:relative;padding-right:30px;}
.user_pro_block .block-bfss-assessors .table-responsive table tbody td a:hover, .user_pro_block .block-bfss-assessors .table-responsive table tbody td a:focus{outline:none;text-decoration:none !important;}
.user_pro_block .block-bfss-assessors .table-responsive table tbody td a span{position:absolute;right:0;top:5px;}
.user_pro_block .block-bfss-assessors .pager-nav .pagination{-moz-justify-content:flex-end;-webkit-justify-content:flex-end;justify-content:flex-end;}
.user_pro_block .block-bfss-assessors .pager-nav .pagination > .active > a{background-color:#f76907;color:#fff;border-color:#f76907;}
.user_pro_block .block-bfss-assessors .pager-nav .pagination li{margin:0 2px;}
.user_pro_block .block-bfss-assessors .pager-nav .pagination li > a{color:#000;background-color:#F1F3F2;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;font-size:13px;text-transform:capitalize;}
.toggle-content.image-include.asseselst.user_pro_block .block-bfss-assessors {border-bottom:0px solid #000;border-left:0px solid #000;border-right:0px solid #000;}


.table-responsive .dataTables_length{display:inline-block;float:left;margin:0 0 15px;}
.table-responsive .dataTables_filter{display:inline-block;float:right;margin:0 0 15px;}
.table-responsive .dataTables_length label{margin:0;}
.table-responsive .dataTables_length label select{height:25px;border:1px solid #ddd;-moz-appearance:none;-webkit-appearance:none;appearance:none;margin-right:3px;padding-right: 10px;background:#fff url("../images/select_bg.png") no-repeat right 5px center/8px auto;}
.table-responsive .dataTables_filter label{font-size:0;margin:0;}
.table-responsive .dataTables_filter label input{font-size:13px;height:25px;border:1px solid #ddd;}
.table-responsive .dataTables_info{float:left;color:#000;font-size:12px;font-weight:600;padding-left:10px;}
.dataTables_paginate.paging_simple_numbers{display:inline-block;float:right;}
.dataTables_paginate.paging_simple_numbers a.paginate_button{background-color:#F1F3F2;color:#000;font-size:12px;height:30px;display:block;float:left;text-align:center;padding:8px 10px;line-height:14px;margin:0 2px;}
.dataTables_paginate.paging_simple_numbers a.paginate_button.disabled{opacity:.7;}
.dataTables_paginate.paging_simple_numbers a.paginate_button.current{color:#fff;background-color:#f76907;}
.dataTables_paginate.paging_simple_numbers a.paginate_button:hover, .dataTables_paginate.paging_simple_numbers a.paginate_button:focus{outline:none;text-decoration:none;}


.assessors_sub.user-submit-button{bottom:-60px;}

.drupal-assess-fm .modal-header{position:relative;}
.drupal-assess-fm .modal-header button.close{position:absolute !important;padding:0;margin:0;right:0;top:0;}
#assessor_popup_form{background:rgba(0,0,0,.7);}
#accessorform a.close{font-size:30px;}
.drupal-assess-fm .modal-body.ui-dialog-content{overflow:visible !important;}
.drupal-assess-fm .modal-body.ui-dialog-content .asse_frm{width:100%;float:left;display:block;}
#assessor_popup_form .accessorform_inner{padding:25px 50px;float:left;width:100%;display:block;background-color:#fff;}
.usrinfo{width:100%;float:left;display:block;margin:0 0 20px;}
.usrinfo h3{width:100%;float:left;display:block;color:#f76907;text-transform:capitalize;font-weight:700;margin:0 0 5px;font-size:22px;line-height:22px;}
.usrinfo ul{width:100%;float:left;display:block;padding:0;margin:0;list-style-type:none;}
.usrinfo ul li{display:inline-block;float:left;margin:0 6px 0 0;padding:0 6px 0 0;border-right:1px solid #000;font-size:14px;line-height:14px;}
.usrinfo ul li:last-child{border:none;}
.accessorform_inner h2{background:#000;color:#fff;margin:0;padding:12px 15px;font-size:13px;line-height:13px;border:1px solid #000;width:100%;float:left;display:block;font-weight:600;}
.accessorform_inner .st_lk{border-left:1px solid #000;border-right:1px solid #000;width:100%;float:left;display:block;padding:15px 0 0;margin:0;text-align:center;}
.accessorform_inner .st_lk li{display:inline-block;color:#f76907;font-size:13px;border-right:2px solid #f76907;padding:0 25px;line-height:13px;font-weight: 600;}
.accessorform_inner .st_lk li:last-child{border:0;}
.accessorform_inner form{width:100%;float:left;display:block;}
.accessorform_inner form .form_fields_wrap{border-bottom:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;padding:15px 10px;width:100%;float:left;display:block;}
.accessorform_inner form .form_fields_wrap .form-item.js-form-item.panel{border-radius:0;box-shadow:none;-webkit-box-shadow:none;border:0;}
.accessorform_inner form .form_fields_wrap .form-item.js-form-item.panel .panel-body{padding:0;width:100%;float:left;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.sm_cls{width:calc(50% - 3.5px);float:left;display:block;margin:15px 3.5px 15px 0;}
.sm_cls:nth-child(2n){margin:15px 0 15px 3.5px;}
.sm_cls .form-item.js-form-item.panel{border-radius:0;box-shadow:none;-webkit-box-shadow:none;border:0;}
.sm_cls .form-item.js-form-item.panel .panel-heading{margin:0;border:0;border-radius:0;background:transparent;width:100%;float:left;display:block;padding:0;}
.sm_cls .form-item.js-form-item.panel .panel-heading .panel-title{height:40px;overflow:hidden;padding:0;font-size:13px;line-height:18px;width:100%;float:left;display:block;margin:0;}
.sm_cls .form-item.js-form-item.panel .panel-body{padding:0;width:100%;float:left;display:block;}


.drupal-assess-fm .modal-footer{padding:0 50px 25px;width:100%;float:left;display:block;margin:0;}
.drupal-assess-fm .modal-footer .modal-buttons{margin:0;width:100%;float:left;display:block;}
.drupal-assess-fm .modal-footer button{display:inline-block;height:40px;padding:10px 12px;font-size:14px;line-height:18px;margin:0;}
.drupal-assess-fm .modal-footer button:first-child{float:left;background:#F36900;border-color:#F36900;}
.drupal-assess-fm .modal-footer button:last-child{float:right;background:#105714;border-color:#105714;}
.accessorform_inner form .form-control{margin:0;border-radius:0;color:#000;font-size:13px;padding:10px;}

.eventlisting_main.user_pro_block{padding:50px 0 0 0;}
#block-privateaccessmentsblock a.form-modal-fn, .eventlisting_main.user_pro_block a.form-modal-fn{color:#f76907;cursor:pointer;}
ul.dropdown-menu.open li.active{text-decoration:none;background-color:#f76907;color:#fff;}
ul.dropdown-menu.open li.active a{color:#fff;background-color:none !important;}
.result_message{width:100%;text-align:center;color:green;font-size:16px;}
/******************* RESPONSIVE CSS STARTS HERE *********************/

@media (max-width:767px){
	.custom-nav-box .header_rightbar .top_right, .custom-nav-box .header_rightbar .profile_img_section{width:190px;flex: 0 0 190px;max-width:190px;}
	.top_right .calender_img, .top_right .athletic_profile, .dashboard .profile_img_section .profile-sec{width:95px;}
}

@media (min-width:768px) and (max-width:1023px){
	.custom-nav-box .header_rightbar .top_right, .custom-nav-box .header_rightbar .profile_img_section{width:250px;flex: 0 0 250px;max-width:250px;}
}

@media (max-width:1023px){
	.profile-right-modal .container{padding:0;}	
	.custom-nav-box .header_rightbar .row{-moz-justify-content:space-between;-webkit-justify-content:space-between;justify-content:space-between;}
}

/*************************** RESPONSIVE CSS ENDS HERE ****************/

/******************MY Assessments Page Strat here************************/
.myassess_main_pxl.user_pro_block .block-bfss-assessors{
    border-bottom: 0px solid #000;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
}

.centeralizeRow span{font-size: 110px;font-weight: bold;color:#f76907;margin-right:30px;}
.centeralizeRow{max-width: 450px;margin:0 auto;display: flex;align-items: center;}
.centeralizeRow h4, .infoRow h4{font-size: 22px;color: #fff;margin-bottom:15px;max-width: 250px;}
.centeralizeRow.white h4{color: #000;}
.strengthRow{width: 100%;background:url('/modules/custom/bfss_assessment/img/cropped-banner-product-category-athletics.jpg')no-repeat center top/cover;padding: 30px 0;}
.strengthRow p{
    font-size: 18px;
    color: #fff;
}

.infoRow .sideIcon{max-width: 50px;float: right;}
.infoRow span{font-size: 60px;font-weight: bold;color:#f76907;margin-right:40px;}

.accelaration{margin-top: 15px;}
.accelaration .row{display: flex;justify-content: space-between;margin-bottom: 15px;}
.accelaration .row::before,.accelaration .row::after{display: none;}
.accelaration .row > div{width:calc(50% - 8px);display: flex;align-items: center;justify-content: space-between;padding: 20px 40px;background: #e6e8e9;}
.accelaration .row > .leftBg{background:url('/modules/custom/bfss_assessment/img/cropped-banner-product-category-athletics.jpg')no-repeat center top/cover;}
.accelaration .centeralizeRow{max-width: 100%;margin:0;}
.centeralizeRow.large span{font-size: 120px;}
.centeralizeRow.small span{font-size: 60px;}
.centeralizeRow.small h4{font-size:18px;}
.centeralizeRow.whiteDesc p{color:#fff;}
.centeralizeRow p {font-size: 16px;}

a.side_button.menulink.my_assess{color: #fff;}
.myassess_main_pxl .myassess_records {padding: 0;}
.myassess_main_pxl .myassess_records table thead{background:#000!important;}
.myassess_main_pxl .myassess_records table thead th a span::before,.myassess_main_pxl .myassess_records table thead th a span::after{color:#fff!important;}
/******************MY Assessments Page End here***********************/

.assessment-payment #multistep-form-four select{height:calc(1.5em + .75rem + 2px);color:#555555;font-size:14px}
.assessment-payment #multistep-form-four #edit-state{height:calc(1.5em + .75rem + 2px);color:#555555;font-size:14px}

/********************my assessment score bar start here**********/


.bgGray{background:#ebebeb;}
.noBorder{border:none!important;}
.noSpace{padding:0!important;}
.scoreChartBlock svg {background: #ddd;border-radius: 50%;margin-right: 20px;}
.scoreChartBlock .row::after,.scoreChartBlock .row::before{display: none;}
.align-items-start{align-items: flex-start!important;}
.scoreChartBlock .row{display: flex;justify-content: space-between;}
.scoreChartBlock .row > div{flex-wrap: wrap;width: calc(50% - 7px);margin-bottom: 14px;border:1px solid;padding: 10px 16px;align-items: center;justify-content: center;display: flex;}
.scoreChartBlock .row > div span{font-size: 53px;font-weight: 1000;color:#fc6703;margin-right:20px;display: block;line-height: 60px;}
.scoreChartBlock .row h4{font-size: 12px;text-transform: uppercase;max-width: 145px;font-weight: 700;line-height: 17px;}
.scoreChartBlock .row h6{margin-top: 11px;font-size: 18px;color:#a8a9ad;}
.circleScore span {font-size: 63px!important;margin-right: 0!important;margin-bottom: 5px;}
.greyTitle span{color: #a8a9ad!important;}
.smallScores {width: 100%;display: flex;align-items: center;justify-content: center;flex-wrap: wrap;border:1px solid;padding:4px;}
.smallScores span{margin-right: 25px!important;font-size: 46px!important;line-height: 64px!important;}
.twoColInside{flex-direction: column;justify-content: space-between!important;} 
/********************my assessment score bar end here**********/