@charset "utf-8";
/* CSS Document */

/* ACCOUNT CREATED POP UP CSS STARTS HERE */
.sitepopup-wrap{height:100%;width:100%;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-moz-align-content:center;-webkit-align-content:center;align-content:center;-moz-justify-content:center;-webkit-justify-content:center;justify-content:center;}
.sitepopup-wrap .spb-popup-main-wrapper.spb_top_center{position:relative;padding:0;left:0;right:0;max-width:420px;}
.sitepopup-wrap .spb-popup-main-wrapper .spb-controls{right:15px;}
.sitepopup-wrap .spb-popup-main-wrapper .spb-controls .close{opacity:1;color:#EB6E06;text-shadow:none;font-size:24px;line-height:30px;padding:4px 0;}
.sitepopup-wrap .sitepopup-default-bfss-content{width:100%;float:left;display:block;}
.sitepopup-wrap .sitepopup-default-bfss-content .popup_header{background-color:#000;margin:0;width:100%;float:left;display:block;}
.sitepopup-wrap .sitepopup-default-bfss-content .popup_header h3{color:#fff;padding:11px 15px;width:100%;float:left;display:block;margin:0;font-size:14px;line-height:14px;height:40px;}
.sitepopup-wrap .sitepopup-default-bfss-content .success-msg{padding:25px 20px;width:100%;float:left;display:block;}
.sitepopup-wrap .sitepopup-default-bfss-content .success-msg p{margin:0 0 30px;}
.sitepopup-wrap .sitepopup-default-bfss-content .success-msg p:last-child{margin:0;}
/* ACCOUNT CREATED POP UP CSS ENDS HERE */

.form-item.js-form-item.form-type-textfield.js-form-type-textfield.form-item-position2.js-form-item-position2.form-no-label.form-group {margin: 0px;}
input#edit-position2 {margin-bottom: 30px;}
.form-item.js-form-item.form-type-textfield.js-form-type-textfield.form-item-position3.js-form-item-position3.form-no-label.form-group {margin-bottom: 0px;}
input#edit-position3 { margin-bottom: 30px;}
.form-item.js-form-item.form-type-textfield.js-form-type-textfield.form-item-position-12.js-form-item-position-12.form-no-label.form-group {margin-bottom: 0px;}
input#edit-position-12 {margin-bottom: 30px;}
.form-item.js-form-item.form-type-textfield.js-form-type-textfield.form-item-position-13.js-form-item-position-13.form-no-label.form-group {margin-bottom: 0px;}
input#edit-position-13 {margin-bottom: 30px;}
.form-item.js-form-item.form-type-textfield.js-form-type-textfield.form-item-position-22.js-form-item-position-22.form-no-label.form-group {margin-bottom: 0px;}
input#edit-position-22 {margin-bottom: 30px;}

.add-group-assessments .form-item-image label {color: #f4650f;}
.edit-user .fa.fa-times.right-icon.changepassdiv-modal-close.spb_close {top: 24px;}
.edit-assessments .user_pro_block .block-bfss-assessors{border:none;}
.form-item-venue-state span.input-group-addon,.form-item-venue-loaction span.input-group-addon{display:none;}
.form-item-venue-state .select-wrapper,  .add-assessments .form-item-venue-loaction .input-group{width:100%}
.edit-assessments-data .alert.alert-.alert-dismissible .close span,.add-assessments .alert.alert-.alert-dismissible .close {font-size: 30px;color: #fff;text-shadow: none;}

.edit-assessments-data .alert.alert-.alert-dismissible .close,.add-assessments .alert.alert-.alert-dismissible .close {top: 22px;right: 25px;}
.bell-icon-sec { text-align: right!important;}
.approve-organization-popup .left_section .athlete_left > .items_div {border:none;}
.no_pennding_organization {text-align: center;}
.view-payments-and-receipts .user_pro_block .block-bfss-assessors {border: none;}
.no_pending_approvel p {text-align: center;padding: 20px 0px 20px 0px;}
body.user-login .registration-area .user-pass p{font-size: 13px;color: #808285;}
.organizations-paid-payment .user_pro_block .block-bfss-assessors .table-responsive table tbody td a,.organizations-pending-payment .user_pro_block .block-bfss-assessors .table-responsive table tbody td a {font-weight: 500;}
.full-width-inp .input-group-addon {display: none;}
.full-width-inp .select-wrapper{width: 100%;}

ul.ui-autocomplete li.ui-menu-item div{display:block;background:transparent;border-color:transparent;}
ul.ui-autocomplete li.ui-menu-item div:hover, ui-autocomplete li.ui-menu-item div:focus{background:transparent;color:#EB6E06;border-color:transparent;}
.form-item-city span.input-group-addon {display: none;}

.dashboard-edit-coach-profile .form-item-city .input-group{margin-bottom: 40px;}
.edit-form .right_section .image-widget .data{top:0px;}
/**********INVOICE START FROM HERE*************/
.payments_receipts_print_main .invoice-header{background: #f1f3f2;padding:20px 0;text-align: center;border:solid #ccc;border-width:2px 2px 0;}
.payments_receipts_print_main .brand-info{margin-top: 12px;}
.payments_receipts_print_main .brand-info span{padding:0 15px;font-size: 13px;line-height: 13px;}
.payments_receipts_print_main .brand-info span:nth-child(2){border:solid #000;border-width: 0 2px;}
.payments_receipts_print_main .invoice-body{padding:35px 20px;border:2px solid #ccc;}
.payments_receipts_print_main .invoice-body span{font-size: 14px;display: inline-block;}
.payments_receipts_print_main .invoice-body label{font-size: 16px;}
.payments_receipts_print_main .customer-info label{display: block;margin-bottom: 5px;}
.payments_receipts_print_main .customer-info{margin-bottom: 30px;}
.payments_receipts_print_main .invoice-body li{list-style:none;}
.payments_receipts_print_main .invoice-body li span:first-child{min-width:150px;}
.payments_receipts_print_main .invoice-total-detail{margin-top: 60px;}
.payments_receipts_print_main .invoice-total-detail li{display: flex;justify-content: space-between;align-items: center;padding-bottom: 10px;}
.payments_receipts_print_main .invoice-total-detail li:last-child{margin-top: 12px;}
.payments_receipts_print_main .invoice-total-detail li:first-child{margin-bottom: 12px;}
.payments_receipts_print_main .invoice-total-detail li span:first-child{font-weight: 600;}

.payments_receipts_print_main .invoice-footer{text-align: center;}
.payments_receipts_print_main .invoice-footer .total{font-size: 80px;color: #ff6217;margin-bottom: 40px;}
.payments_receipts_print_main .invoice-footer .total sup{font-size: 50px;}
.payments_receipts_print_main .invoice-footer p{font-size: 14px;padding-bottom: 8px;}
.edit-coach-form-popup .org_type_name_wrapper {float: left;width: 100%;margin-bottom: 40px;}
.ui-autocomplete{ margin:4px, 4px; padding:4px; width: 500px; max-height: 200px; overflow-x: hidden; overflow-y: auto; text-align:justify;} 
.coach-edit-form .right_section .image-widget .data {top:0px;}
.atheltic-profile .item_image .mail_athlete{margin-top: 60px;}
.atheltic-profile .item_image .image img{max-height: 275px;}
footer.user-profile-fo.footer.container {
    display: block;
}
.footer-main {
    margin-left: 15px;
}
.user-profile-webpage-plx .region.region-content {
    padding: 0 0 0rem!important;;
}
.user-webpage-footer ul li {
    float: left;
    list-style-type: none;
}
.user-webpage-footer a {
    font-size: 11px;
    padding: 0px 10px 0px 12px;
    color: #808080;
    text-transform: capitalize;
}
.user-webpage-footer {
    background: #000;
    position: relative;
    color: #fff;
    font-weight: bold;
    padding: 20px 15px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 40px;
   padding: 15px 0px 35px 0px;

}

.user-webpage-footer ul {
    float: right;
       margin-right: 160px;
}
.user-webpage-footer a:hover{color:#fff;}
.user-webpage-footer ul li:nth-child(2), .user-webpage-footer ul li:nth-child(3) {border-left: 1px solid #808080;}
.edit-organization-popup .left_section .athlete_left > .items_div{border:none;}
.edit-organization-popup p.detail_text_update_org{padding-top: 20px;font-size: 14px;color: #000;}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.drupal-edit-faq-fm.delete-faq.ui-dialog-buttons,.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.drupal-edit-faq-fm.edit-faq.ui-dialog-buttons {
    top: 20.5px!important;
    left: 330px!important;
}
.add-organizations button.close {
    margin: 22px 25px 0px 0px;
}


.maintenance-page section#block-copyright {
    text-align: center;
    margin: 90px 0px 0px 0px;
}

.maintenance-page .registration-area {
    padding: 40px 0px 0px 0px;
}
.maintenance-message p {
    font-size: 13px;
    }
.manager-assessor-account .form-item.js-form-item.form-type-password.js-form-type-password.form-item-pass-pass1.js-form-item-pass-pass1.form-no-label.form-group, .manager-assessor-account .form-item.js-form-item.form-type-password.js-form-type-password.form-item-pass-pass2.js-form-item-pass-pass2.form-no-label.form-group  {
    padding: 0px;
}
.manager-assessor-account button.close {
    margin: 22px 22px 0px 0px;
}
#StateCityFilter div#edit-output-22 {
    padding-bottom: 13px;
}
.ctv_filter_main p.venue {
    cursor: pointer;
}
.ctv_filter_main .btn-primary:not(:disabled):not(.disabled).active, .ctv_filter_main .btn-primary:not(:disabled):not(.disabled):active{
    color: #fff;
    background-color: green;
    border-color: green;
}
.cat_tags_wrpp .nice-select ul.list{
    overflow: auto;
    max-height: 300px;
}
.ctv_filter_main  .btn-primary:not(:disabled):not(.disabled):active:focus{box-shadow: 0 0 0 0.2rem #4CAF50;}
.coach-edit-form button.close {
    margin: 22px 22px 0 0;
}
/***********INVOICE END FROM HERE************/

/******************* RESPONSIVE CSS STARTS HERE *********************/

@media(min-width:100px) and (max-width:579px) {	
	.sitepopup-wrap .spb-popup-main-wrapper.spb_top_center{max-width:90%;}
}