
<ul>
<li>Events</li>
<li>Private Assessments</li>
</ul>

<div class="quick-link">
<div class="my-assessment">
                     <button class="accordion">Events</button>
                     <div class="panel" style="display: block;">
                      <img src="/modules/custom/bfss_assessment/img/assessment-table-static.jpg" width="500px" height="300px">
                     </div>
                  </div>
</div>


<div class="quick-link">
<div class="my-assessment">
                     <button class="accordion">Private Assessments</button>
                     <div class="panel" style="display: block;">
                        <img src="/modules/custom/bfss_assessment/img/assessment-table-static.jpg" width="500px" height="300px">
                     </div>
                  </div>
</div>