<div class="assessmen_tg togle">
<div class="tog"><h3><span class="icon-sign"></span>events</h3></div>
<div class="toggle_cont">
<div class="table_cover">
                <table>
                 <tr>
                   <th>Date</th>
                   <th>Time</th>
                   <th>Event Name</th>
                   <th>Attendees</th>
                 </tr>
                 <tr>
                   <td>August 2 2019</td>
                   <td>10:30am</td>
                   <td><p>Lorem Ipsum is that it has a more-or-less</p></td>
                   <td>13</td>
                 </tr>
                 <tr>
                   <td>August 2 2019</td>
                   <td>10:30am</td>
                   <td><p>Lorem Ipsum is that it has a more-or-less</p></td>
                   <td>13</td>
                 </tr>
                 <tr>
                   <td>August 2 2019</td>
                   <td>10:30am</td>
                   <td><p>Lorem Ipsum is that it has a more-or-less</p></td>
                   <td>13</td>
                 </tr>
                 <tr>
                   <td>August 2 2019</td>
                   <td>10:30am</td>
                   <td><p>Lorem Ipsum is that it has a more-or-less</p></td>
                   <td>13</td>
                 </tr>
                 <tr>
                   <td>August 2 2019</td>
                   <td>10:30am</td>
                   <td><p>Lorem Ipsum is that it has a more-or-less</p></td>
                   <td>13</td>
                 </tr>
                 <tr>
                   <td>August 2 2019</td>
                   <td>10:30am</td>
                   <td><p>Lorem Ipsum is that it has a more-or-less</p></td>
                   <td>13</td>
                 </tr>
               </table>

                  <div class="pagination_cover">
                     <div class="pagination">
                        <a class="previous" href="#">Previous</a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a class="next" href="#">Next</a>
                     </div>
                </div>
      </div>
</div>
</div>

<div class="assessmen_tg togle">
<div class="tog"><h3><span class="icon-sign"></span>Private Assessments</h3></div>
<div class="toggle_cont">
   <div class="table_cover">
                <table>
                 <tr>
                   <th>Date</th>
                   <th>Time</th>
                   <th>Event Name</th>
                   <th>Attendees</th>
                 </tr>
                 <tr>
                   <td>August 2 2019</td>
                   <td>10:30am</td>
                   <td><p>Lorem Ipsum is that it has a more-or-less</p></td>
                   <td>13</td>
                 </tr>
                 <tr>
                   <td>August 2 2019</td>
                   <td>10:30am</td>
                   <td><p>Lorem Ipsum is that it has a more-or-less</p></td>
                   <td>13</td>
                 </tr>
                 <tr>
                   <td>August 2 2019</td>
                   <td>10:30am</td>
                   <td><p>Lorem Ipsum is that it has a more-or-less</p></td>
                   <td>13</td>
                 </tr>
                 <tr>
                   <td>August 2 2019</td>
                   <td>10:30am</td>
                   <td><p>Lorem Ipsum is that it has a more-or-less</p></td>
                   <td>13</td>
                 </tr>
                 <tr>
                   <td>August 2 2019</td>
                   <td>10:30am</td>
                   <td><p>Lorem Ipsum is that it has a more-or-less</p></td>
                   <td>13</td>
                 </tr>
                 <tr>
                   <td>August 2 2019</td>
                   <td>10:30am</td>
                   <td><p>Lorem Ipsum is that it has a more-or-less</p></td>
                   <td>13</td>
                 </tr>
               </table>

                  <div class="pagination_cover">
                     <div class="pagination">
                        <a class="previous" href="#">Previous</a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a class="next" href="#">Next</a>
                     </div>
                </div>
      </div></div>
</div>