<div class="container">
  <div class="row final">
  	<div class="main-head">
      <div class="first">
        <h6>1. Assessment Type</h6>
        <div class="bar"></div>
      </div>
      <div class="second">
        <h6>2. Time</h6>
        <div class="bar"></div>
      </div>
      <div class="third">
        <h6>3. Details</h6>
        <div class="bar"></div>
      </div>
      <div class="fourth">
        <h6>4. Payment</h6>
        <div class="bar"></div>
      </div>
      <div class="fifth">
        <h6>5. Done</h6>
        <div class="bar"></div>
      </div>
    </div>
  <p> {{ message }} </p>
  </div>
</div>
