<div class="bfss-main">
<h3>BFSS MANAGER</h3>
<div class="content-bfss">
<p>Enable or disable to allow BFSS Manager access to your account.<p>
<label class="switch">
  <input type="checkbox" checked>
  <span class="slider round"></span>
</label></div>
</div> 