<div class="bfss_manager_page">	

		<div class="bfss_manager">
			<div class="bfss_manager_black_layer">
				<h4>CRIDIT CARD INFORMATION</h4>
			</div>
			<div class="bfss_manager_inner">
				<div class="bfss_manager_form">
					<form>
						<div class="full_inputs">
							<input type="text" placeholder="Name on the card">
							<input type="number" placeholder="Name on the card">
						</div>
						<div class="half_inputs">
							<div>
							<select id="cars">
								  <option value="volvo">Expiration Month</option>
								  <option value="saab">Expiration Month</option>
								  <option value="opel">Expiration Month</option>
								  <option value="audi">Expiration Month</option>
							</select>
							</div>
							<div>
								  <select id="cars">
								  <option value="volvo">Expiration Year</option>
								  <option value="saab">Expiration Year</option>
								  <option value="opel">Expiration Year</option>
								  <option value="audi">Expiration Year</option>
							</select>
							</div>
						</div>
						<div class="number"><input placeholder="3 Digits(CVV)" type="number"></div>
					</form>
			    </div>
			</div>


		<div class="bfss_manager_inner_sec">
		<div class="bfss_manager_black_layer">
				<h4>CRIDIT CARD INFORMATION</h4>
			</div>
			<div class="bfss_manager_inner">
				<div class="bfss_manager_form">
					<form>
						<div class="full_inputs">
							<input type="text" placeholder="Address 1">
							<input type="number" placeholder="Address 2">
						</div>
						<div class="half_inputs_feild">
							<div>
							<select id="city">
								  <option value="volvo">City</option>
								  <option value="saab">City</option>
								  <option value="opel">City</option>
								  <option value="audi">City</option>
							</select>
							</div>
							<div>
								  <select id="state">
								  <option value="volvo">State</option>
								  <option value="saab">State</option>
								  <option value="opel">State</option>
								  <option value="audi">State</option>
							</select>
							</div>
							<div>
								  <select id="zip">
								  <option value="volvo">Zip</option>
								  <option value="saab">Zip</option>
								  <option value="opel">Zip</option>
								  <option value="audi">Zip</option>
							</select>
							</div>
						</div>
						<div class="number"><input placeholder="3 Digits(CVV)" type="number"></div>
					</form>
			    </div>
			</div>
			</div>
		</div>


		<div class="bfss_manager_right">
<div class="bfss_manager">
			<div class="bfss_manager_black_layer">
				<h4>CRIDIT CARD INFORMATION</h4>
			</div>
			<div class="left_manager_inner">
				<div class="">
					<ul>
						<li>
							<a href="#">Cridit card information</a>
							<p>September 29</p>
						</li>
						<li>
							<a href="#">Cridit card information</a>
							<p>September 29</p>
						</li>
						<li>
							<a href="#">Cridit card information</a>
							<p>September 29</p>
						</li>
					</ul>
			    </div>
			</div>
		</div>
		</div>


</div>