
@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('ProximaNova-Regular.woff') format('woff'),
        url('ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaCond-Bold';
    src: url('../fonts/ProximaNovaCond-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNovaCond-Bold.woff') format('woff'),
        url('../fonts/ProximaNovaCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* *{font-family: 'Proxima Nova Rg';} */
.wrapper {display: block;float: left;width: 75%;}
.wrapper .dash-main-right {margin-bottom: 40px;}
.grouped {background-color: #868383;padding: 10px;box-shadow: 1px 1px 4px #e0e0d8;margin: 10px;color: #fff;font-weight: bold;}
.grouped div {width: 30%;display: inline-block;}
p.note {margin-left: 1%;background-color: #cecece;width: 50%;padding-left: 4px;color: #000;}
.image, .image img{ width: 100%;}
.modal-open .modal.fade.in{opacity:1!important;}
.modal.in .modal-dialog {-webkit-transform: translate(0, 0) !important;-ms-transform: translate(0, 0) !important;-o-transform: translate(0, 0) !important;transform: translate(0, 0) !important;}

/*.assessment_block {display: flex;flex-wrap: wrap;width: 100%;margin: auto;align-items: center;justify-content: space-evenly;}*/
.assessment_block .timing h2{font-weight: 800;color: #000 !important;}
.assessment_block{display: grid;grid-template-columns: 1fr 1fr 1fr;grid-gap: 10px;column-gap: 30px;}
#block-assessmentscustomview .assessment_block{width: 100%!important;}
.assessment_inner{width: 100%!important;background-color: #e7e7e7!important;border: 1px solid #333;border-color: #b4b6b5;}
.assessment_inner .top-head{display: flex;justify-content: space-between;align-items: start;height: 120px;}
.assessment_inner img{border: 10px solid #fff;border-top: 15px solid #fff;box-shadow:0px 0px 6px #6b6b6b;}
.timing-date {background: #f76907;color: #fff;flex-wrap: wrap;justify-content: space-around;align-items: center;padding: 7px 15px;font-weight: 500;}
.timing h2{font-size: 25px;font-weight: 600;margin: 0;}
.assessment_inner .node-body{padding: 0 0 20px;color: #000;font-size: 12px;}
.categories-tags ul{display: flex;flex-wrap: wrap;margin: 0;padding: 0;text-align: left;position: relative;}
.categories-tags ul li{text-align: left;margin: 5px 0;font-size: 10px;font-weight: bold;color: #808285;text-transform: capitalize;}
.categories-tags ul li::before{content: '.';background-repeat: no-repeat;font-size: 62px;line-height: 0;color: #f76907;}
.row.assessment_block::before{display: none!important;}
.timing-date span.m, .timing-date span.d, .timing-date span.y{display: block;margin: auto;text-align: center;}
.timing-date span.d{font-size: 23px;font-weight: bold;}
.timing{height: 100%;position: relative;}
.timing span{position: absolute;bottom: 0;padding: 2px 0px;color: #8c8e8d;}
.tophead .timing-date{padding:0!important;font-size: 25px!important;background: transparent !important;color:#f76907!important; padding: 30px 10px;}
.tophead .ticketing{width: 100%;display: flex;flex-wrap: wrap;justify-content: space-evenly;}
.tophead .col-half h2{font-size: 20px;font-weight: bold;margin: 15px 0 5px;}
.tophead .loca{text-transform: uppercase;}
.tophead .title-timing{padding-left: 20px;}
.tophead{background: #e6e7e9;}
.ticketing {display: flex;flex-wrap: wrap;justify-content: space-between;box-shadow: 0px 2px 12px 0 #ccc;}
.ticketing .share, .ticketing .ticket{width: 50%;}
.ticketing .share{text-transform: uppercase;}
.ticketing .share span{margin-left: 20px;font-size: 15px;}
.share{font-size: 17px;text-transform: uppercase;padding: 10px 0px;color: #f8bd91;}
.ticketing .ticket{text-align: right;}
.ticketing .ticket span{text-align: center;width: 130px;display: inline-block;margin: 0;height: 45px;line-height: 42px;background: #135b12;color: #fff;font-size: 15px;}
.ticketing::before{display: none;content: unset;}
.row.ticketing:before, .row.ticketing:after{display: none;content: unset;}
.date-and-time .timing-date{background: transparent!important;color: #000 !important;padding: 0px!important;font-size:14px;}
.date-and-time span{font-size:14px!important;}
.date-and-time{margin-top: 30px;}
.date-and-time div{margin-top: 15px;}
.ticketing:nth-of-type(1){box-shadow: none;display: unset;}
.ticketing .book-now{font-size: 16px;font-weight: bold;}
.date-and-time p:nth-of-type(2){margin-top: 15px!important;}
.date-and-time p{font-size: 14px;}
.row.details{position: relative;}
.row.details .node-body{position: absolute;left: 0;right: 0;top: 0;width: 46%;margin-top: 30px;margin-left: 20px;}
.row.details .node-body p{color: #000;line-height: unset;font-size: 15px;}
.date-and-time p{color: #b7b4b4;font-size: 14px;}
.share span{background: url(../img/share.png);background-repeat: no-repeat;background-position: left;padding-left: 25px;}
.ticket span{background-image: url(../img/ticketing.png)!important;background-repeat: no-repeat!important;background-position: left center!important;padding-left: 25px;}
.ui-dialog-titlebar .ui-dialog-title{display: none;}
.ticketing a.book-now{color: #f16707!important;}
.ticketing a.book-now:hover{text-decoration: none;}
.date-location{width: 30% !important;    margin-left: 30px;}
.date-and-time div.location{background-image: url(../img/icon_time.png)!important;background-repeat: no-repeat!important;background-position: top left!important;margin-top: -25px;padding-top: 15px;font-size: 14px;}
.row.details .col-half{width: 49%;}
.close{margin-right: 10px;} 
html .container{max-width: 100%!important;}
html body{margin-top:0!important;}
.modal-content{position: relative!important;}
.close span{position: absolute!important;right: 16px!important;top: 11px!important;font-size: 23px!important;}
.close{position: relative!important;z-index: 1!important;}
.categories-tags ul li:nth-of-type(2){margin-left: 10px;}
button:focus{outline: unset!important;}
div#drupal-modal{background-color: rgba(0, 0, 0, 0.68)!important;}
.ui-dialog-content{padding: 0!important;margin-top: -1px;overflow: hidden!important;}

div#upcoming_bk{display: grid;grid-template-columns: 1fr 1fr 1fr;margin: 0;grid-gap: 10px;}
.scheduled_appointment.container:before, .scheduled_appointment.container:after{content: unset!important;}
.scheduled_appointment .row{display: grid;grid-template-columns: 1fr 1fr 1fr;grid-gap: 20px;column-gap: 20px;}
.scheduled_appointment .row:before{content: unset!important;}
.scheduled_appointment .col-6{flex: 0 0 100%;max-width: 100%;border: 1px solid #000;background-color:#e7e7e7;}
.container.scheduled_appointment{max-width: 1170px !important;margin: auto;border: none;background: transparent !important;padding: 0 40px 0;}
.wrapper{width: 100%;}

.footer_bt .trm_pr, .address_em{list-style: none;display: flex;flex-wrap: wrap;justify-content: start;font-size: 15px;padding: 0;margin: 0;}
.footer_bt .trm_pr li, .address_em li{margin-right: 15px;color:#717071;font-family: 'Proxima Nova Rg';font-size: 12px;}
.footer_bt .trm_pr li a, .address_em a{margin-right: 10px;color:#717071;font-size: 12px;}
.footer_bt p{padding-top: 20px;font-size: 11px;color:#717071;font-family: 'Proxima Nova Rg';}


.table_cover table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
border: 1px solid #e1e1e1;
}

.table_cover td{
border-bottom: 1px solid #e1e1e1;
text-align: left;
padding:  0 20px;
height: 50px;
font-size: 12px;
font-weight: 600;
}

.table_cover th{border: 1px solid #6d6e72;
background: #6d6e72;
text-align: left;
padding: 0 20px;
height: 50px;
color: #fff;
font-size: 12px;
font-weight: 600;}

.table_cover tr:nth-child(odd) {
background-color: #f2f3f2;
}
.table_cover p{color: #ec7232;}
.table_cover .pagination{margin: 20px 0px;}
.table_cover .pagination_cover{text-align: right;}
.table_cover .pagination a{color: #858688;
background: #f2f3f2;
padding: 15px 20px;
display: inline-block;
text-decoration: none;
font-size: 12px;
font-weight: 600;}
.table_cover .pagination a:hover{color: #fff;
background: #e6712a;}


.assessmen_tg.togle h3{
    background: #000;
    position: relative;
    color: #fff;
    font-weight: bold;
    padding: 20px 15px;
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 0px;
    cursor: pointer;
}

.assessmen_tg.togle .tog {
    padding-bottom: 20px;
}