/* Global css here */
div.main-head{
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
div.main-head > div{
	display: inline-block;
	width: 18.99%;
	margin: 1px;
}
div.main-head div.bar{
	width: 100%;
	padding: 3px;
	background-color: #a7a8ac;
	border: none;
    height: 12px;
}
/*payment process order*/
div.main-head div.bar{
	background-color: #a6a7ac;

}
div.one div.main-head div.first div.bar,
div.two div.main-head div.first div.bar,
div.two div.main-head div.second div.bar,
div.three div.main-head div.first div.bar,
div.three div.main-head div.second div.bar,
div.three div.main-head div.third div.bar,
div.four div.main-head div.first div.bar,
div.four div.main-head div.second div.bar,
div.four div.main-head div.third div.bar,
div.four div.main-head div.fourth div.bar,
.final div.main-head div.bar
{
	background-color: green;


	 border-top-left-radius: 10px; 
 	border-bottom-left-radius:10px;
 	height: 12px;color: #145213;
 	border: none;
}
/*payment process order title*/
div.one div.main-head div.first h6,
div.two div.main-head div.first h6,
div.two div.main-head div.second h6,
div.three div.main-head div.first h6,
div.three div.main-head div.second h6,
div.three div.main-head div.third h6,
div.four div.main-head div.first h6,
div.four div.main-head div.second h6,
div.four div.main-head div.third h6,
div.four div.main-head div.fourth h6,
.final div.main-head h6
{
	color: #f4650f;

}
form input[type="text"],
form input[type="email"],
form input[type="number"],
form select
 {
	width: 100%;
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #ccc;
}
#edit-submit {
    float: right;
    /*background-color: #f4650f;*/
    /*color: #ffffff;*/
}
/* First Form css here */

/* Second Form css here */
#multistep-form-two .timeslots {
    display: block;
    float: left;
    margin: 10px;
    padding: 10px;
    margin: 30px 4px 0;
    padding: 0;
}
#multistep-form-two .form-actions {
    display: block;
    float: left;
    width: 100%;
}
#multistep-form-two .timeslots .fieldset-legend {
    background-color: #f4650f;
	padding: 9px;
	color: #fff;
	font-weight: bold;
	border-radius: 6px;
}

#multistep-form-two .timeslots .js-form-item.form-type-radio {
	padding: 4px;
	border: 1px solid #c2c2c2;
	margin-top: 10px;
	border-radius: 5px;
}
/* Third Form css here */

#multistep-form-three div.js-form-item {
	display: block;
	width: 100%;
}
#multistep-form-three div.js-form-item.form-item-first-name,
#multistep-form-three div.js-form-item.form-item-last-name {
    display: inline-block;
    width: 49.75%;
}
/* Fourth Form css here */
#multistep-form-four div.form-item-expiration-month,
#multistep-form-four div.form-item-cvv {
	display: inline-block;
	width: 33%;
}
#multistep-form-four div.form-item-expiration-year {
	display: inline-block;
	width: 23%;
}

#multistep-form-four div.form-item-city,
#multistep-form-four div.form-item-country {
	display: inline-block;
	width: 53%;
}

#multistep-form-four div.form-item-state,
#multistep-form-four div.form-item-zip {
	display: inline-block;
	width: 23.1%;
}

.first h6{font-weight: 600;}
 div.one div.main-head div.first div.bar, .first div.three div.main-head div.first div.bar{
 	border-top-left-radius: 10px!important; 
 	border-bottom-left-radius:10px!important;
 	height: 12px;color: #145213;
 	border: none;}


.main-head h6{color: #010101;
	font-weight: 600;}

.form-group{margin-top: 20px;}
.control-label{font-size: 13px;
    color: #f4650f;}
.form-item .select-wrapper select{color: #101010;font-weight: 700;height: 40px;border: 1px solid #d2d2d2;
    box-shadow: none;}
.form-item .control-label{margin-bottom: 10px;}
.select-wrapper:after{content: '';background-image: url('../img/down-arrow.png');background-repeat: no-repeat;
    color: transparent !important;margin-right: 5px;}
 button.button[type="submit"]{background: #f4650f!important;border: none;border-radius: 0!important;padding: 5px 30px;}
.service-top-head{font-weight: 600;font-size: 13px;}
.form-item .control-label{color: #101010;font-weight: 600;padding: 5px 0px;text-align: center;display: block;margin: auto;}
 .btn{background: #f4650f!important;border: none;border-radius: 0!important;padding: 5px 30px;color: #fff;}

 .btn:hover{color: #fff;}
#multistep-form-two .timeslots .js-form-item.form-type-radio{margin: 10px 0 2px;}
span.fieldset-legend{font-weight: normal!important;}
#multistep-form-two .timeslots .js-form-item.form-type-radio:nth-of-type(1){margin: 10px 0 2px;}
#multistep-form-two .timeslots .js-form-item.form-type-radio{margin: 2px 0 2px;}
.form-actions .btn, .form-actions .btn-group{padding: 6px 30px;}


/*CSS 7:21 */


#multistep-form-four div.form-item-city,
#multistep-form-four div.form-item-country {
	display: inline-block;
	width: 53%;
}

#multistep-form-four div.form-item-state,
#multistep-form-four div.form-item-zip {
	display: inline-block;
	width: 23.1%;
}

.first h6{font-weight: 600;}
 div.one div.main-head div.first div.bar, .first div.three div.main-head div.first div.bar{
 	border-top-left-radius: 10px!important; 
 	border-bottom-left-radius:10px!important;
 	height: 12px;color: #145213;
 	border: none;}


.main-head h6{color: #010101;
	font-weight: 600;}

.form-group{margin-top: 20px;}
.control-label{font-size: 13px;
    color: #f4650f;}
.form-item .select-wrapper select{color: #101010;font-weight: 700;height: 40px;border: 1px solid #d2d2d2;
    box-shadow: none;border-radius: 0!important;}
.form-item .control-label{margin-bottom: 10px;}
.select-wrapper:after{content: '';background-image: url('../img/down-arrow.png');background-repeat: no-repeat;
    color: transparent !important;margin-right: 5px;}
 button.button[type="submit"]{background: #f4650f!important;border: none;border-radius: 0!important;padding: 5px 30px;}
.service-top-head{font-weight: 600;font-size: 13px;}
.form-item .control-label{color: #101010;font-weight: 600;padding: 5px 0px;text-align: left;display: block;margin: auto;}
 .btn{background: #f4650f!important;border: none;border-radius: 0!important;padding: 5px 30px;color: #fff;}

#multistep-form-two .timeslots .js-form-item.form-type-radio{margin: 10px 0 2px;}
span.fieldset-legend{font-weight: normal!important;}
#multistep-form-two .timeslots .js-form-item.form-type-radio:nth-of-type(1){margin: 10px 0 2px;}
#multistep-form-two .timeslots .js-form-item.form-type-radio{margin: 2px 0 2px;}
.form-actions .btn, .form-actions .btn-group{padding: 6px 30px;}
.form-control{color: #101010;font-weight: 600;}


