@charset "utf-8";
/* CSS Document */

/* Global css here */
.wrapper div.main-head{display:block;float:left;width:100%;}
.wrapper div.main-head{margin-bottom:20px;}
.wrapper div.main-head > div{display:inline-block;width:19.7%;margin:0px;}
.wrapper div.main-head div.bar{width:100%;padding:3px;background-color:#a7a8ac;border:none;height:12px;}
/*payment process order*/
.wrapper div.main-head div.bar{background-color:#a6a7ac;}
.wrapper div.one div.main-head div.first div.bar, .wrapper div.two div.main-head div.first div.bar, .wrapper div.two div.main-head div.second div.bar, .wrapper div.three div.main-head div.first div.bar, .wrapper div.three div.main-head div.second div.bar, .wrapper div.three div.main-head div.third div.bar, .wrapper div.four div.main-head div.first div.bar, .wrapper div.four div.main-head div.second div.bar, .wrapper div.four div.main-head div.third div.bar, .wrapper div.four div.main-head div.fourth div.bar, .final div.main-head div.bar{background-color:green;}
/*payment process order title*/
.wrapper div.one div.main-head div.first h6, .wrapper div.two div.main-head div.first h6, .wrapper div.two div.main-head div.second h6, .wrapper div.three div.main-head div.first h6, .wrapper div.three div.main-head div.second h6,.wrapper div.three div.main-head div.third h6, .wrapper div.four div.main-head div.first h6, .wrapper div.four div.main-head div.second h6, .wrapper div.four div.main-head div.third h6, .wrapper div.four div.main-head div.fourth h6, .wrapper .final div.main-head h6{color:#f4650f;}
.wrapper form input[type="text"], .wrapper form input[type="email"], .wrapper form input[type="number"], .wrapper form select{width:100%;border-radius:0;box-shadow:none;border:1px solid #ccc;}
.wrapper #edit-submit{float:right;}
/* First Form css here */
/* Second Form css here */
.wrapper #multistep-form-two .timeslots{display:block;float:left;margin:10px;padding:10px;margin:30px 4px 0;padding:0;}
.wrapper #multistep-form-two .form-actions{display:block;float:left;width:100%;}
.wrapper #multistep-form-two .timeslots .fieldset-legend{background-color:#f4650f;padding:9px;color:#fff;font-weight:bold;border-radius:6px;}
.wrapper #multistep-form-two .timeslots .js-form-item.form-type-radio{padding:4px;border:1px solid #c2c2c2;margin-top:10px;border-radius:5px;}
/* Third Form css here */
.wrapper #multistep-form-three div.js-form-item{display:block;width:100%;}
.wrapper #multistep-form-three div.js-form-item.form-item-first-name,.wrapper #multistep-form-three div.js-form-item.form-item-last-name{display:inline-block;width:49.75%;}
/* Fourth Form css here */
.wrapper #multistep-form-four div.form-item-expiration-month,.wrapper #multistep-form-four div.form-item-cvv{display:inline-block;width:33%;}
.wrapper #multistep-form-four div.form-item-expiration-year{display:inline-block;width:23%;}
.wrapper #multistep-form-four div.form-item-city, .wrapper #multistep-form-four div.form-item-country{display:inline-block;width:60%;}
/*.wrapper #multistep-form-four div.form-item-state, .wrapper #multistep-form-four div.form-item-zip{display:inline-block;width:18%;}*/
.wrapper #multistep-form-four div.form-item-state{display:inline-block;width:100%;}
.full-width-inp.half-width-inp {
    width: 49%;
}
.form-inline.form-item.js-form-item.form-type-number.js-form-type-number.form-item-zip.js-form-item-zip.form-no-label.form-group {
    margin-top: 26px;
}

.wrapper #multistep-form-four div.form-item-zip{display:inline-block;width:49%;}
.wrapper .first h6{font-weight:600;}
.wrapper div.one div.main-head div.first div.bar, .wrapper .first div.three div.main-head div.first div.bar{border-top-left-radius:10px !important;border-bottom-left-radius:10px !important;height:12px;color:#145213;border:none;}
.wrapper .main-head h6{color:#010101;font-weight:600;}
.wrapper .form-group{margin-top:20px;}
.wrapper .control-label{font-size:13px;color:#f4650f;}
.form-item .control-label{margin-bottom:10px;}
.wrapper .select-wrapper:after{content:'';background-image:url('../img/down-arrow.png');background-repeat:no-repeat;color:transparent !important;margin-right:5px;}
.wrapper .service-top-head{font-weight:600;font-size:13px;}
.wrapper .form-item .control-label{color:#101010;font-weight:600;padding:5px 0px;text-align:center;display:block;margin:auto;}
.wrapper .btn{background:#f4650f!important;border:none;border-radius:0!important;padding:5px 30px;color:#fff;}
.wrapper .btn:hover{color:#fff;}
.wrapper #multistep-form-two .timeslots .js-form-item.form-type-radio{margin:10px 0 2px;}
.wrapper span.fieldset-legend{font-weight:normal!important;}
.wrapper #multistep-form-two .timeslots .js-form-item.form-type-radio:nth-of-type(1){margin:10px 0 2px;}
.wrapper #multistep-form-two .timeslots .js-form-item.form-type-radio{margin:2px 0 2px;}

/*CSS 7:21 */
.expiration{width:100%;float:left;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-moz-justify-content:space-between;-webkit-justify-content:space-between;justify-content:space-between;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.expiration > .form-type-select.js-form-type-select > .select-wrapper{height:40px;}
.wrapper .first h6{font-weight:600;}
.wrapper div.one div.main-head div.first div.bar, .wrapper .first div.three div.main-head div.first div.bar{border-top-left-radius:10px !important;border-bottom-left-radius:10px !important;height:12px;color:#145213;border:none;}
.wrapper .main-head h6{color:#010101;font-weight:600;}
.wrapper .form-group{margin-top:20px;}
.wrapper .control-label{font-size:13px;color:#f4650f;}
.wrapper .form-item .select-wrapper select{color:#101010;height:40px;border:1px solid #d2d2d2;box-shadow:none;border-radius:0 !important;font-weight:400;}
.wrapper .form-item .control-label{margin-bottom:10px;}
.wrapper .select-wrapper:after{content:'';background-image:url('../img/down-arrow.png');background-repeat:no-repeat;color:transparent !important;margin-right:5px;}
.wrapper .service-top-head{font-weight:600;font-size:13px;}
.wrapper .form-item .control-label{color:#101010;font-weight:600;padding:5px 0px;text-align:left;display:block;margin:auto;}
.wrapper .btn{background:#f4650f!important;border:none;border-radius:0!important;padding:5px 30px;color:#fff;}
.wrapper #multistep-form-two .timeslots .js-form-item.form-type-radio{margin:10px 0 2px;}
.wrapper span.fieldset-legend{font-weight:normal!important;}
.wrapper #multistep-form-two .timeslots .js-form-item.form-type-radio:nth-of-type(1){margin:10px 0 2px;}
.wrapper #multistep-form-two .timeslots .js-form-item.form-type-radio{margin:2px 0 2px;}


html .container{max-width:100%!important;}
html body{margin-top:0!important;}
.wrapper .timeslots .form-item .control-label{text-align:center;margin-left:20px}
.wrapper div.main-head .first div.bar{border-top-left-radius:10px!important;border-bottom-left-radius:10px!important;}
.wrapper #multistep-form-three div.js-form-item.form-item-first-name{padding-right:5px;}
.wrapper #multistep-form-three div.js-form-item.form-item-last-name{padding-left:5px;}
.form-inline .form-control{width:100%!important;}
.wrapper #multistep-form-four h3{font-size:13px;font-weight:600;color:#101010;}
.wrapper .region-content .form-item{margin-bottom:30px!important;}
.wrapper #multistep-form-four div.form-item-expiration-month, #multistep-form-four div.form-item-cvv{margin-right:10px;margin-top:0;}
.wrapper input[type="radio"]{-webkit-appearance:none;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;cursor:pointer;appearance:none;width:16px;border-radius:50%;height:16px;vertical-align:text-bottom;margin-right:10px;border:0.2rem solid #a6a7ac;position:relative;padding:0;margin-left:-25px !important;}
.wrapper input[type="radio"]:checked::before{width:8px;display:block;height:8px;background:#f4650f;position:absolute;content:'';border-radius:51%;position:absolute;left:2px;top:2px;}
.wrapper input[type="radio"], input[type="checkbox"]{margin:0!important;}
.wrapper .radio input[type="radio"]{margin-left:-25px!important;}
.wrapper .form-type-textfield, .form-type-number{margin-bottom:20px!important;}
.wrapper .form-item.js-form-item.form-type-textfield.js-form-type-textfield.form-item-address-2.js-form-item-address-2.form-no-label.form-group, .form-item.js-form-item.form-type-textfield.js-form-type-textfield.form-item-city.js-form-item-city.form-no-label.form-group,.wrapper .form-item.js-form-item.form-type-textfield.js-form-type-textfield.form-item-state.js-form-item-state.form-no-label.form-group, .form-inline.form-item.js-form-item.form-type-number.js-form-type-number.form-item-zip.js-form-item-zip.form-no-label.form-group, .wrapper .form-inline.form-item.js-form-item.form-type-number.js-form-type-number.form-item-credit-card-number.js-form-item-credit-card-number.form-no-label.form-group, .wrapper .form-item.js-form-item.form-type-textfield.js-form-type-textfield.form-item-first-name.js-form-item-first-name.form-no-label.form-group, .wrapper .form-item.js-form-item.form-type-textfield.js-form-type-textfield.form-item-last-name.js-form-item-last-name.form-no-label.form-group{margin-bottom:8px!important;}
#sidenav{height:100vh!important;}
.wrapper form#multistep-form-four{margin-bottom:80px;}
.wrapper .dialog-off-canvas-main-canvas{margin-left:20px;}
