<div class="dash-main-right">
   <h1><i class="fas fa-home" 11></i><span>></span> Dashboard </h1>
   <div class="dash-sub-main">
      <img src="/themes/custom/bfss_custom/images/images-dashboard/dash-img.png">  
      <h2><span>ALL FEATURES</span><br>Dashboard  </h2>
   </div>
</div>
<!----------Quick Link Section -----Start------->
<div class="quick-link">
   <div class="row" style="margin-left: 0px;margin-right: 0px;">
      <div class="col-lg-8 ">
         <h1>Quick links</h1>
         <div class="row">
            <div class="col-md-3 mob_bottom_margin">
               <a class="datainfo" href="#">
                  <div class="quick-link-sub-sec">
                     <i class="fas fa-user-alt"></i>
                     <p>View / Edit <br>
                        Users
                     </p>
                  </div>
               </a>
            </div>
            <div class="col-md-3 mob_bottom_margin">
               <a class="datainfo" href="#">
                  <div class="quick-link-sub-sec">
                     <i class="fas fa-school"></i>
                     <p>View / Edit<br>
                        Organizations
                     </p>
                  </div>
               </a>
            </div>
            <div class="col-md-3 mob_bottom_margin">
               <a href='#' class="atheltic_link">
                  <div class="quick-link-sub-sec">
                     <i class="fa fa-users" aria-hidden="true"></i>
                     <p>Group<br/>Assessments</p>
                  </div>
               </a>
            </div>
            <div class="col-md-3">
               <a href='#' class="atheltic_link">
                  <div class="quick-link-sub-sec">
                     <i class="fas fa-running"></i>
                     <p>Private<br>
                        Assessments
                     </p>
                  </div>
               </a>
            </div>
         </div>
         </br>   
         <div class="row">
            <div class="col-md-3 mob_bottom_margin">
               <a class="datainfo" href="#">
                  <div class="quick-link-sub-sec">
                     <i class="fas fa-map-marker-plus"></i>
                     <p>Add New<br>
                        Organization
               </a>
               </p>
               </div>
               </a>
            </div>
            <div class="col-md-3 mob_bottom_margin">
               <a class="datainfo" href="#">
                  <div class="quick-link-sub-sec">
                     <i class="fas fa-hands-usd"></i>
                     <p>Revenue<br>
                        Generated
                     </p>
                  </div>
               </a>
            </div>
            <div class="col-md-3 mob_bottom_margin">
               <a href='#' class="atheltic_link">
                  <div class="quick-link-sub-sec">
                     <i class="fas fa-search"></i>
                     <p>Search<br/>Athletes</p>
                  </div>
               </a>
            </div>
            <div class="col-md-3">
               <a class="datainfo" href="#">
                  <div class="quick-link-sub-sec">
                     <i class="fas fa-ticket-alt"></i>
                     <p>
               <a class="datainfo" href="#">Ticketing<br>
               System</a>
               </p>
               </div>
               </a>
            </div>
         </div>
      </div>
      <div class="col-lg-4">
         <div class="my-assessment admin_desh pending-approval">
            <button class="accordion">PENDING APPROVAL<a href="pending-approval" target="_blank"><i class="fa fa-arrow-right" aria-hidden="true" style="padding-left: 60px;"></i></a></button>
            <div class="panel">
               {% if Pending_Approval_Data_Block is empty %}
               <p>No Pending Approval!</p>
               {% else %}
               {% for Data in Pending_Approval_Data_Block %}
               <div class="panel_row">
                  <p>{{ Data.field_organization_name }}</p>
                  <p>{{ Data.field_city }} {{ Data.field_state }}</p>
               </div>
               {% endfor %}
               {% endif %}
            </div>
         </div>
      </div>
   </div>
</div>
<!----------Quick Link Section -----End-------> 
<!----------Tabs Section -----Start------->
<div class="tab-main-sec">
<div class="row" style="margin-left: 0px;margin-right: 0px;">
   <div class="col-lg-8 col-md-12">
      <!-----------Profile Card---HTML----Start-->
      <div class="latest_revenue">
         <h3>LATEST REVENUE</h3>
         {{ admin_profile_block }}
      </div>
      <!-- ---------Profile Card---HTML----End-->
   </div>
</div>