
<div class="dash-main-right">
  <h1><i class="fas fa-home" 11></i> > <a href="/dashboard" class="edit_dash" style="margin-right:5px;color: #333333;">Dashboard</a> > Assessment Event</h1>
  <div class="dash-sub-main">
     <i class="fal fa-users edit_image_solid"></i>  
     <h2><span>Assessment</span><br>Event</h2>
  </div>
</div>
<!----------Tabs Section -----Start------->
<div class="tab-main-sec">
  <div class="row user_pro_row" style="margin-left: 0px;margin-right: 0px;">
     <div class="col-lg-12 user_pro_col">
        <!-- ---------Profile Card---HTML----Start-->
        <div class="eventlisting_main user_pro_block">
           <!-- <h2>Athletic Profile Assessments</h2> -->
           {{ assessment_events_block }}
        </div>
        <!-- ---------Profile Card---HTML----End-->
     </div>
  </div>
</div>
