 
</html>
<html>   
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/themes/custom/bfss_custom/css/style-custom.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
   
   </div>
   
      <!-- ------------Side Navbar----------start -->

     
      <!-- ------------Side Navbar----------end -->
      <div class="right_side_section pl-0 pr-0">
         <div class="dash-main-right">
            <h1><i class="fas fa-home" 11></i> > Dashboard > Assessment Event</h1>
            <div class="dash-sub-main">
               <img src="/themes/custom/bfss_custom/images/images-dashboard/dash-img.png">  
               <h2><span>Assessment</span><br>Event</h2>
            </div>
         </div>
        
         <!----------Tabs Section -----Start------->
         <div class="tab-main-sec">
            <div class="row user_pro_row" style="margin-left: 0px;margin-right: 0px;">
                  <div class="col-lg-12 user_pro_col">   
                        <!-- ---------Profile Card---HTML----Start-->
                        <div class="eventlisting_main user_pro_block">
                        <!-- <h2>Athletic Profile Assessments</h2> -->
                         {{ assessment_events_block }}
                     	</div>
                        <!-- ---------Profile Card---HTML----End-->
                     </div>
                  </div>
                </div>
         </div>
   <div class="container">
      <div class="modal fade" id="myModal" role="dialog">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <div class = "modals-section">
                     <div class = "row">
                        <div class = "col-md-7 newzz">
                           <span> <img src="/themes/custom/bfss_custom/images/images-dashboard/better-image.png"></span>
                        </div>
                        <div class = "col-md-5 newzz">
                           <div class = "modals-bg">
                              <h4>Aug<br> 04</h4>
                              <h1>Atheltic Profile Assessments</h1>
                              <p> Williams field high school</p>
                           </div>
                        </div>
                        <div class="modal-body">
                           <p>Some text in the modal.</p>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="modal" id="athelets-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> -->

      <!-- Modal body -->
      <div class="modal-body">
		<div class="row">
			<div class="col-md-12 pb-2">
				<p>Welcome Jodi, to continue you must complete all the required fields below.</p>
			</div>
		</div>
			<div class="row">
				<div class="col-md-8">
					<div id="accordion">
						<div class="card">
							<div class="card-header">
							  <a class="card-link d-flex justify-content-between" data-toggle="collapse" href="#collapseOne">
								<span><i class="fas fa-minus text-orange pr-2"></i>ATHLETE'S INFORMATION</span>
								<i class="fas fa-info text-orange"></i>
							  </a>
							</div>
							<div id="collapseOne" class="collapse show" data-parent="#accordion">
							  <div class="card-body py-4 my-2">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Jodi" disabled>
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Bloggs" disabled>
								</div>
								<div class="form-group">
									<select class="form-control" id="exampleFormControlSelect1">
									  <option>AZ</option>
									  <option>2</option>
									  <option>3</option>
									  <option>4</option>
									  <option>5</option>
									</select>
								</div>
								<div class="form-group">
									<input type="number" class="form-control" placeholder="Qty">
								</div>
								<div class="form-group">
									<select class="form-control" id="exampleFormControlSelect2">
									  <option>Birth Gender</option>
									  <option>2</option>
									  <option>3</option>
									  <option>4</option>
									  <option>5</option>
									</select>
								</div>
								<div class="form-group">
									<input type="number" class="form-control" placeholder="Height In Inches">
								</div>
								<div class="form-group">
									<input type="number" class="form-control" placeholder="Weight In Pounds">
								</div>
							</div>
						  </div>
						</div>
					  <div class="card">
						<div class="card-header">
						  <a class="collapsed card-link d-flex justify-content-between" data-toggle="collapse" href="#collapseTwo">
							<span><i class="fas fa-minus text-orange pr-2"></i>SCHOOL/CLUB/UNIVERSITY</span>
							<i class="far fa-trash-alt text-orange"></i>
						  </a>
						</div>
						<div id="collapseTwo" class="collapse show">
						  <div class="card-body py-4 my-2">
							<div class="form-group">
								<select class="form-control" id="exampleFormControlSelect3">
								  <option>Organization Type</option>
								  <option>2</option>
								  <option>3</option>
								  <option>4</option>
								  <option>5</option>
								</select>
							</div>
							<div class="form-group">
								<select class="form-control" id="exampleFormControlSelect4">
								  <option>Organization Name</option>
								  <option>2</option>
								  <option>3</option>
								  <option>4</option>
								  <option>5</option>
								</select>
							</div>
							<div class="form-group">
									<input type="text" class="form-control" placeholder="Coach's Last Name(Optional)">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Sport">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Position">
							</div>
							<button type="button" class="bg-transparent border-0 text-orange">+ Additional Position</button>
							
						  </div>
						</div>
					  </div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
						  <a class="collapsed card-link d-flex justify-content-between" data-toggle="collapse" href="#collapseThree">
							<span><i class="fas fa-minus text-orange pr-2"></i>SOCIAL MEDIA</span>
							<i class="fas fa-info text-orange"></i>
						  </a>
						</div>
						<div id="collapseThree" class="collapse show">
							<div class="card-body py-4 my-2">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Your Instagram Account(Optional)">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Your Youtube/Vimeo Channel(Optional)">
								</div>
							</div>
						</div>
					  </div>
				</div>
			</div>	
		</div>
      <!-- Modal footer -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div> -->

    </div>
  </div>
   <!-----Model_End------>
  
</body>
</html>