<div class="dash-main-right">
   <h1><i class="fas fa-home" 11></i> > Dashboard </h1>
   <div class="dash-sub-main">
      <img src="/themes/custom/bfss_custom/images/images-dashboard/dash-img.png">  
      <h2><span>ALL FEATURES</span><br>Dashboard  </h2>
   </div>
</div>
<!----------Tabs Section -----Start------->
<div class="tab-main-sec assessor-profile-desh">
   <div class="row user_pro_row" style="margin-left: 0px;margin-right: 0px;">
      <div class="col-lg-12 user_pro_col">
         <!-- ---------Profile Card---HTML----Start-->
         <ul class="userpr">
            <li><a href="#assessment-event-section"><i class="fas fa-calendar-alt"></i> Events</a></li>
            <li><a href="#assessment-private-section"><i class="fas fa-user"></i> Private Assessments</a></li>
         </ul>
         <div id="assessment-event-section" class="eventlisting_main user_pro_block">
            <h2>Events</h2>
            {{ event_listing_block }}
         </div>
         <div id="assessment-private-section" class="private_assess_listing_main user_pro_block">
            <h2>Private Assessments</h2>
            {{ private_assessment_listing_block }}
         </div>
         <!-- ---------Profile Card---HTML----End-->
      </div>
   </div>
</div>