<div class="modal" id="athelets-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> -->

      <!-- Modal body -->
      <div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<p>Welcome Jodi, to continue you must complete all the required fields below.</p>
			</div>
		</div>
			<div class="row">
				<div class="col-md-8">
					<div id="accordion">
						<div class="card">
							<div class="card-header">
							  <a class="card-link" data-toggle="collapse" href="#collapseOne">
								ATHLETE'S INFORMATION
							  </a>
							</div>
							<div id="collapseOne" class="collapse show" data-parent="#accordion">
							  <div class="card-body">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Jodi" disabled>
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Bloggs" disabled>
								</div>
								<div class="form-group">
									<select class="form-control" id="exampleFormControlSelect1">
									  <option>AZ</option>
									  <option>2</option>
									  <option>3</option>
									  <option>4</option>
									  <option>5</option>
									</select>
								</div>
								<div class="form-group">
									<input type="number" class="form-control" placeholder="Qty">
								</div>
								<div class="form-group">
									<select class="form-control" id="exampleFormControlSelect2">
									  <option>Birth Gender</option>
									  <option>2</option>
									  <option>3</option>
									  <option>4</option>
									  <option>5</option>
									</select>
								</div>
								<div class="form-group">
									<input type="number" class="form-control" placeholder="Height In Inches">
								</div>
								<div class="form-group">
									<input type="number" class="form-control" placeholder="Weight In Pounds">
								</div>
							</div>
						  </div>
						</div>
					  <div class="card">
						<div class="card-header">
						  <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
							SCHOOL/CLUB/UNIVERSITY
						  </a>
						</div>
						<div id="collapseTwo" class="collapse show">
						  <div class="card-body">
							<div class="form-group">
								<select class="form-control" id="exampleFormControlSelect3">
								  <option>Organization Type</option>
								  <option>2</option>
								  <option>3</option>
								  <option>4</option>
								  <option>5</option>
								</select>
							</div>
							<div class="form-group">
								<select class="form-control" id="exampleFormControlSelect4">
								  <option>Organization Name</option>
								  <option>2</option>
								  <option>3</option>
								  <option>4</option>
								  <option>5</option>
								</select>
							</div>
							<div class="form-group">
									<input type="text" class="form-control" placeholder="Coach's Last Name(Optional)">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Sport">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Position">
							</div>
							<button type="button">+Additional Position</button>
							
						  </div>
						</div>
					  </div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
						  <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
							SOCIAL MEDIA
						  </a>
						</div>
						<div id="collapseThree" class="collapse">
							<div class="card-body">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Your Instagram Account(Optional)">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Your Youtube/Vimeo Channel(Optional)">
								</div>
							</div>
						</div>
					  </div>
				</div>
			</div>	
		</div>
      <!-- Modal footer -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div> -->

    </div>
  </div>