 
</html>
<html>   
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
   
   </div>
   
      <!-- ------------Side Navbar----------start -->

     
      <!-- ------------Side Navbar----------end -->
      <div class="right_side_section pl-0 pr-0">
         <div class="dash-main-right">
            <h1><i class="fas fa-home" 11></i><span>></span> Dashboard </h1>
            <div class="dash-sub-main">
               <img src="/themes/custom/bfss_custom/images/images-dashboard/dash-img.png">  
               <h2><span>ALL FEATURES</span><br>Dashboard  </h2>
            </div>
         </div>
         <!----------Quick Link Section -----Start------->
         <div class="quick-link">
            <div class="row" style="margin-left: 0px;margin-right: 0px;">
               <div class="col-lg-9 ">
                  <h1>Quick links</h1>
                  
                  <div class="row">
                     <div class="col-md-3 mob_bottom_margin">
                        <div class="quick-link-sub-sec">
                           <i class="fas fa-user"></i>
                           <p><a class="datainfo" href="#">View / Edit <br>
                              Users</a>
                           </p>
                        </div>
                     </div>
                     <div class="col-md-3 mob_bottom_margin">
                        <div class="quick-link-sub-sec">
                           <i class="fas fa-alarm-clock"></i>
                           <p>Pending <br>
                              Assessments
                           </p>
                        </div>
                     </div>
                     <div class="col-md-3 mob_bottom_margin">
                           <a href='#' class="atheltic_link">
                              <div class="quick-link-sub-sec">
                           <i class="fas fa-search"></i>
                              <p>Search <br/>Athletes</p>
                        </div>
                           </a>
                     </div>
                     <div class="col-md-3">
                        <div class="quick-link-sub-sec">
                           <i class="fas fa-map-marker-plus"></i>
                           <p><a class="datainfo" href="#">Add New<br>
                              Organizations</a>
                           </p>
                        </div>
                     </div>
                  </div>
              
              <div class="row  mt-5">
                     <div class="col-md-3 mob_bottom_margin">
                        <div class="quick-link-sub-sec">
                           <i class="fas fa-school"></i>
                           <p><a class="datainfo" href="/appointments/scheduled">View / Edit <br>
                              Organizations</a>
                           </p>
                        </div>
                     </div>
                     <div class="col-md-3 mob_bottom_margin">
                        <div class="quick-link-sub-sec">
                           <i class="fas fa-running"></i>
                           <p>Private <br>
                              Assessments
                           </p>
                        </div>
                     </div>
                     <div class="col-md-3 mob_bottom_margin">
                           <a href='#' class="atheltic_link">
                              <div class="quick-link-sub-sec">
                          <i class="fas fa-users"></i>
                              <p>Group <br />Assessments</p>
                        </div>
                           </a>
                     </div>
                     <div class="col-md-3">
                        <div class="quick-link-sub-sec">
                           <i class="fas fa-ticket-alt"></i>
                           <p><a class="datainfo" href="/faqs">Ticketing<br>
                              Systems</a>
                           </p>
                        </div>
                     </div>
                  </div> 
               </div>
               <div class="col-lg-3">
                  <div class="my-assessment">
                     <button class="accordion"><i class="fa fa-minus" aria-hidden="true"></i>Pending Approval</button>
                     <div class="panel">
                        <div class="panel_row">                           
                           <h3>Central Christan High School Whittler, CA</h3>
                        </div>
                        <div class="panel_row">    
                           <h3>Bogle Jr. High Long Beach, CA</h3>
                        </div>
                        <div class="panel_row">    
                           <h3>Washington High School La Habra, CA</h3>
                        </div>
                         <div class="panel_row">    
                           <h3>EI Monte Community College EI Monte, CA</h3>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!----------Quick Link Section -----End-------> 
         <!----------Tabs Section -----Start------->
         <div class="tab-main-sec">
            <div class="row" style="margin-left: 0px;margin-right: 0px;">
               <div class="col-lg-9 col-md-12">
                  <div class="row tab-main-sec-heading">
                     <div class="col-xl-9 col-lg-8 col-md-6 col-6">
                           <div class="month_filter">{{ month_block }}</div>
                     </div>
                     <div class="col-xl-3 col-lg-4 col-md-6 col-6 search_icon">
                        
                      <a href="#" class="pr-3"> <i class="fas fa-search"></i></a>
                      <div class="search_icon_field">
                        <i class="fal fa-calendar-alt"></i>
                        <input placeholder="Month View" type="text" id="date-picker-example" class="form-control datepicker">
                        <i class="fal fa-caret-down"></i>
                     </div>   
                     </div>
                  </div>
              <hr/>
                  <div class="tab-nav">
                     <ul class="mb-4">
                        <li><a href="javascript:void(0);">Categories </a> </li>
                        <li><a href="javascript:void(0);">Tags </a></li>
                        <li><a href="javascript:void(0);">Organizers </a></li>
                        <li><a href="javascript:void(0);">Venues </a></li>
                     </ul>
                  </div>
                  <!-- ---------Profile Card---HTML----Start-->
               {{ bfss_manager_profile_dashboard_block }}
          <!-- ---------Profile Card---HTML----End-->
          
               </div>
         
              
            </div>
         </div>
      </div>
   <div class="container">
      <div class="modal myathletic-menu  fade" id="myModal" role="dialog">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <div class = "modals-section">
                     <div class = "row">
                        <div class = "col-md-7 newzz">
                           <span> <img src="/themes/custom/bfss_custom/images/images-dashboard/better-image.png"></span>
                        </div>
                        <div class = "col-md-5 newzz">
                           <div class = "modals-bg">
                              <h4>Aug<br> 04</h4>
                              <h1>Atheltic Profile Assessments</h1>
                              <p> Williams field high school</p>
                           </div>
                        </div>
                        <div class="modal-body">
                           <p>Some text in the modal.</p>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   
  
</body>
</html>