 
</html>
<html>   
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/themes/custom/bfss_custom/css/style-custom.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<script type="text/javascript">
   $(document).ready(function(){
   $('.dropdown > a').click(function(e){
     e.preventDefault();
     e.stopPropagation();
     $(this).siblings('.dropdown-menu').toggleClass('open');
     $(this).find('.down-arrow').toggleClass('open-caret');

   });

   $(document).click(function(){
       $('.dropdown-menu').removeClass('open');
       $('.down-arrow').removeClass('open-caret');  
     });
   });
   
   function openForm() {
   document.getElementById("myForm").style.display = "block";
   }
   
   function closeForm() {
   document.getElementById("myForm").style.display = "none";
   }
   
   
</script>
<body>
   <div class="row border_bottom custom-nav-box" style="margin-left: 0px;margin-right: 0px;margin-top:-2px">
      <div class="col-lg-3 pr-0 pl-0">
         <nav class="navbar navbar-expand-xs bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#"><img src="/themes/custom/bfss_custom/images/images-dashboard/logo.png"></a>
            <!-- Toggler/collapsibe Button -->
              <div id="cssmenu">
               <div id="menu-button">
                      <span class=" toggle_icon fa fa-bars"></span>
            </div>
            </div>
         </nav>
      </div>
      <div class="col-lg-9 col-md-12">
         <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-6 col-6 pr-0 pl-0 top_right">
               <div class="calender_img">
                  <i class="fal fa-calendar-alt"></i>
                  <p>Scheduled <br>
                     Assessments 
                  </p>
               </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-6 pr-0 pl-0 athletic_icon_section">
               <div class="athletic_profile" data-toggle="modal" data-target="#myModal">
                  <i class="far fa-chart-network"></i>
                  <p>My Athletic <br>
                     Profile 
                  </p>
               </div>
            </div>
            <div class="col-lg-6 pl-0 pr-0 mobile_hide" >
			 <div class="athletic_profile"></div>
			 </div>
            <div class="col-lg-1 col-md-3 col-sm-6 col-6 pl-0 pr-0 bell_sec">
               <div class="bell-icon-sec">
                  <img src="/themes/custom/bfss_custom/images/images-dashboard/bell-icon.png">
               </div>
            </div>
            <div class="col-lg-1 col-md-3 col-sm-6 col-6 pl-0 pr-0 profile_img_section">
               <div class="profile-sec">
                  <img src="{{user_img_url}}" onclick="openForm()">
                  <!----------- profile pop up start----------- -->
                  <div class="chat-popup" id="myForm">
                     <div class="form-container">
                        <div class="container">
                           <div class="pop_img_sec">
                              <div class="row">
                                 <div class="col-md-4 pr-0 ">
                                    <img src="{{user_img_url}}">
                                 </div>
                                 <div class="col-md-8">
                                    <h2>{{user_name}}</h2>
                                    <p>{{user_roles}}</p>
                                 </div>
                              </div>
                           </div>
                           <div class="pop_text_sec">
                              <a href="#">
                                 <a href='/edit/user'><p><i class="far fa-edit"></i>Edit Account Profile</p></a>
                              </a>
                              <a href="#">
                                 <p><i class="fas fa-user-tie"></i>BFSS Manager</p>
                              </a>
                              <a href="#" data-toggle="modal" data-target="#my-profile-Modal">
                                 <p><i class="fas fa-user"></i>Parent / Guardian</p>
                              </a>
                              <a href="#">
                                 <p><i class="fas fa-credit-card"></i>Payment / Receipts</p>
                              </a>
                              <a href="#">
                                 <a href='/user/logout'><p><i class="fas fa-power-off"></i>Sign Out</p></a>
                              </a>
                              <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-------Modal Pop start------>
            <div class="profile-right-modal">
               <div class="container">
                  <!-- The Modal -->
                  <div class="modal fade" id="my-profile-Modal">
                     <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                           <!-- Modal Header -->
                           <div class="modal-header">
                              <h4 class="modal-title">Welcome Jodi,to continue you must complete all the required
                                 fields below.
                              </h4>
                              <!--  <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                           </div>
                           <!-- Modal body -->
                           <div class="modal-body">
                              <div class="row">
                                 <div class="col-md-7">
                                    <button class="accordion">ATHLETE'S INFORMATION <i class="fas fa-info"></i></button>
                                    <div class="panel">
                                       <input type="text" name="name" placeholder="Jodi">
                                       <input type="text" name="name" placeholder="Blogs">
                                       <div class="form-group">
                                          <select class="form-control" id="sel1">
                                             <option>AZ</option>
                                             <option>AB</option>
                                             <option>AC</option>
                                             <option>AD</option>
                                          </select>
                                       </div>
                                       <input type="text" name="name" placeholder="City">
                                       <div class="form-group">
                                          <select class="form-control" id="sel1">
                                             <option>Birth Gender</option>
                                             <option>Male</option>
                                             <option>Female</option>
                                          </select>
                                       </div>
                                       <input type="text" name="name" placeholder="DOB:MM/DD/YYYY">
                                       <input type="text" name="name" placeholder="Height in Inches">
                                       <input type="text" name="name" placeholder="Weight in Pounds">
                                    </div>
                                    <!-------SOCIAL/CLUB/UNIVERSITY---SEC--- START-->
                                    <div class="social-club-sec">
                                       <button class="accordion">SOCIAL/CLUB/UNIVERSITY <i class="far fa-trash-alt"></i></button>
                                       <div class="panel">
                                          <div class="form-group">
                                             <select class="form-control" id="sel1">
                                                <option>Organization Type</option>
                                                <option>ABCD</option>
                                                <option>ABCD</option>
                                                <option>ABCD</option>
                                             </select>
                                          </div>
                                          <div class="form-group">
                                             <select class="form-control" id="sel1">
                                                <option>Organization Name</option>
                                                <option>ABCD</option>
                                                <option>ABCD</option>
                                                <option>ABCD</option>
                                                <option>ABCD</option>
                                             </select>
                                          </div>
                                          <input type="text" name="name" placeholder="Coach's Last Name(Optional)">
                                          <input type="text" name="name" placeholder="Sports">
                                          <input type="text" name="name" placeholder="Position">
                                          <h3><a href="#"><i class="fal fa-plus"></i>Additional Position</a></h3>
                                          <textarea placeholder="Your Stats" rows="4"></textarea>
                                       </div>
                                       <h3 class="add-organization"><a href="#"><i class="fal fa-plus"></i>Add Another Organization</a></h3>
                                    </div>
                                    <!-------SOCIAL/CLUB/UNIVERSITY---SEC--- END-->
                                 </div>
                                 <div class="col-md-5">
                                    <div class="socila-media-sec">
                                       <button class="accordion">SOCIAL MEDIA <i class="fas fa-info"></i></button>
                                       <div class="panel">
                                          <input type="text" name="name" placeholder="Your Instagram Account(Optional)">
                                          <input type="text" name="name" placeholder="Your Youtube / Vimeo Channel(Optional)">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Modal footer -->
                           <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-------Modal Pop End------>
            <!----------- profile pop up -----End--------- -->
         </div>
      </div>
   </div>
   </div>
   <div class="row" style="margin-left: 0px;margin-right: 0px;">
      <!-- ------------Side Navbar----------start -->

      <div class="left_side_section pl-0 pr-0">

         <div class="sidenav" id="sidenav">
            <ul class="side_nav mb-0">
               <li class="sub_menu">
                  <button class="side_button"><span class="side_menu_text">NAVIGATION</span></button> 
               </li>
               <li class="sub_menu active">
                  <button class="side_button"><i class="fas fa-home"></i><span class="side_menu_text">Dashboard</span></button>
               </li>
               <li class="sub-menu-drop">
                  <!--  <button class="side_button">Calender-View & Book</button> -->
                  <nav>
                     <div class="dropdown">
                        <a class="drop" href="#"><i class="fal fa-calendar-alt"></i><span class="side_menu_text">Calender-View & Book</span><span class="down-arrow fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu">
                           <li><a href="#"> Upcoming Group Assessments </a></li>
                           <li><a href="#"> Book a Private Assessment</a></li>
                           <li><a href="#">My Scheduled Assessment</a></li>
                        </ul>
                     </div>
                  </nav>
               </li>
               <li class="sub_menu">
                  <button class="side_button"><i class="far fa-chart-bar"></i><span class="side_menu_text">My Assessment Status</span></button>
               </li>
               <li class="sub-menu-drop">
                  <nav>
                     <div class="dropdown">

                        <a class="drop" href="/bfssAthleteProfile"><i class="far fa-chart-network"></i><span class="side_menu_text">Athletic Profile</span><span class="down-arrow fa fa-angle-down"></span></a>

                        <ul class="dropdown-menu">
                           <li><a href="/bfssAthleteProfile">Edit My Athletic Profile </a></li>
                           <li><a href="#">View My Webpage</a></li>
                        </ul>
                     </div>
                  </nav>
               </li>
               <!-- <li class="sub_menu"> -->
               <!-- <button class="side_button"><i class="far fa-cogs"></i></i>Support</button> -->
               <!-- </li> -->
               <li class="sub-menu-drop">
                  <nav>
                     <div class="dropdown">
                        <a class="drop" href="#"><i class="far fa-cogs"></i></i><span class="side_menu_text">Support</span><span class="down-arrow fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu">
                           <li><a href="/faq-page"> FAQs </a></li>
                           <li><a href="#">Ticketing</a></li>
                        </ul>
                     </div>
                  </nav>
               </li>
            </ul>
         </div>
      </div>
      <!-- ------------Side Navbar----------end -->
      <div class="right_side_section pl-0 pr-0">
         <div class="dash-main-right">
            <h1><i class="fas fa-home"></i> > Dashboard </h1>
            <div class="dash-sub-main">
               <img src="/themes/custom/bfss_custom/images/images-dashboard/dash-img.png">  
               <h2><span>ALL FEATURES</span><br>Dashboard  </h2>
            </div>
         </div>
         <!----------Quick Link Section -----Start------->
         <div class="quick-link">
            <div class="row" style="margin-left: 0px;margin-right: 0px;">
               <div class="col-lg-8 ">
                  <h1>Quick links</h1>
                  <div class="row">
                     <div class="col-md-3 mob_bottom_margin">
                        <div class="quick-link-sub-sec">
                           <i class="fal fa-calendar-alt"></i>
                           <p>My Scheduled <br>
                              Assessments
                           </p>
                        </div>
                     </div>
                     <div class="col-md-3 mob_bottom_margin">
                        <div class="quick-link-sub-sec">
                           <i class="far fa-chart-bar"></i>
                           <p>My Assessment <br>
                              Stats
                           </p>
                        </div>
                     </div>
                     <div class="col-md-3 mob_bottom_margin">
                           <a href='/bfssAthleteProfile' class="atheltic_link">
                              <div class="quick-link-sub-sec">
                           <i class="far fa-chart-network"></i>
                              <p>Athletic Profile</p>
                        </div>
                           </a>
                     </div>
                     <div class="col-md-3">
                        <div class="quick-link-sub-sec">
                           <i class="fas fa-lightbulb-on"></i>
                           <p>Frequently Asked<br>
                              Questions
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="my-assessment">
                     <button class="accordion">MY ASSESSMENTS</button>
                     <div class="panel">
                        <h1>Elite Assessment</h1>
                        <p style="color:#115719;">December 29,2019</p>
                        <h1 style="color:#f76907;">Starter Assessment</h1>
                        <p>September 29,2019</p>
                        <h1 style="color:#f76907;">Starter Assessment</h1>
                        <p>March 29,2019</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!----------Quick Link Section -----End-------> 
         <!----------Tabs Section -----Start------->
         <div class="tab-main-sec">
            <div class="row" style="margin-left: 0px;margin-right: 0px;">
               <div class="col-lg-8 col-md-12">
                  <div class="row">
                     <div class="col-xl-9 col-lg-8 col-md-6 col-6">
                        <h2 class="mb-0"><i class="fal fa-angle-left mr-2"></i><span class="month_year">August 2019</span><i class="fal fa-angle-right ml-2"></i></h2>
                        <p class="pl-4">************</p>
                     </div>
                     <div class="col-xl-3 col-lg-4 col-md-6 col-6 search_icon">
                      <a href="#" class="pr-3"> <i class="fas fa-search"></i></a>
                        <input placeholder="month view" type="text" id="date-picker-example" class="form-control datepicker mt-4">
                     </div>
                  </div>
                  <div class="tab-nav">
                     <ul class="mb-4">
                        <li><a href="#">Categories </a> </li>
                        <li><a href="#">Tags </a></li>
                        <li><a href="#">Organizers </a></li>
                        <li><a href="#">Venues </a></li>
                     </ul>
                  </div>
                  <!-- ---------Profile Card---HTML----Start-->
                  <div class="profile-card pr-4">
                     <div class="row">
                        <div class="col-md-4 pr-0 mob_bottom_margin">
                           <div class="card">
                              <div class="card-sub">
                                 <h1>Athletic Profile<br> Assessments at the <br>AZ Head Office</h1>
                                 <p>Aug<br><span>02</span><br>2019</p>
                              </div>
                              <p class="time-sec">10:30 am</p>
                              <div class="card-img-sec">
                                 <img src="/themes/custom/bfss_custom/images/images-dashboard/card-img.jpg"  style="width:100%">
                                 <ul>
                                    <li>Sports </li>
                                    <li>Mesa/Gilbert,AZ </li>
                                 </ul>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut labore et dolore
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 pr-0 mob_bottom_margin">
              <div class="card">
                              <div class="card-sub">
                                 <h1>Athletic Profile<br> Assessments at the <br>AZ Head Office</h1>
                                 <p>Aug<br><span>02</span><br>2019</p>
                              </div>
                              <p class="time-sec">10:30 am</p>
                              <div class="card-img-sec">
                                 <img src="/themes/custom/bfss_custom/images/images-dashboard/card-img.jpg"  style="width:100%">
                                 <ul>
                                    <li>Sports </li>
                                   <!--  <li>Mesa/Gilbert,AZ </li> -->
                                 </ul>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut labore et dolore
                                 </p>
                              </div>
                           </div>
            </div>
                        <div class="col-md-4 pr-0">
              <div class="card">
                              <div class="card-sub">
                                 <h1>Athletic Profile<br> Assessments at the <br>AZ Head Office</h1>
                                 <p>Aug<br><span>02</span><br>2019</p>
                              </div>
                              <p class="time-sec">10:30 am</p>
                              <div class="card-img-sec">
                                 <img src="/themes/custom/bfss_custom/images/images-dashboard/card-img.jpg"  style="width:100%">
                                 <ul>
                                    <li>Sports </li>
                                    <li>Mesa/Gilbert,AZ </li>
                                 </ul>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut labore et dolore
                                 </p>
                              </div>
                           </div>
            </div>
                     </div>
                  </div>
          <div class="profile-card profile-card-second pr-4">
                     <div class="row">
                        <div class="col-md-4 pr-0 mob_bottom_margin">
                           <div class="card">
                              <div class="card-sub">
                                 <h1>Athletic Profile<br> Assessments at the <br>AZ Head Office</h1>
                                 <p>Aug<br><span>02</span><br>2019</p>
                              </div>
                              <p class="time-sec">10:30 am</p>
                              <div class="card-img-sec">
                                 <img src="/themes/custom/bfss_custom/images/images-dashboard/card-img.jpg"  style="width:100%">
                                 <ul>
                                    <li>Sports </li>
                                    <!-- <li>Mesa/Gilbert,AZ </li> -->
                                 </ul>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut labore et dolore
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 pr-0 mob_bottom_margin">
              <div class="card">
                              <div class="card-sub">
                                 <h1>Athletic Profile<br> Assessments at the <br>AZ Head Office</h1>
                                 <p>Aug<br><span>02</span><br>2019</p>
                              </div>
                              <p class="time-sec">10:30 am</p>
                              <div class="card-img-sec">
                                 <img src="/themes/custom/bfss_custom/images/images-dashboard/card-img.jpg"  style="width:100%">
                                 <ul>
                                    <li>Sports </li>
                                    <li>Mesa/Gilbert,AZ </li>
                                 </ul>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut labore et dolore
                                 </p>
                              </div>
                           </div>
            </div>
                        <div class="col-md-4 pr-0">
              <div class="card">
                              <div class="card-sub">
                                 <h1>Athletic Profile<br> Assessments at the <br>AZ Head Office</h1>
                                 <p>Aug<br><span>02</span><br>2019</p>
                              </div>
                              <p class="time-sec">10:30 am</p>
                              <div class="card-img-sec">
                                 <img src="/themes/custom/bfss_custom/images/images-dashboard/card-img.jpg"  style="width:100%">
                                 <ul>
                                    <li>Sports </li>
                                    <li>Mesa/Gilbert,AZ </li>
                                 </ul>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut labore et dolore
                                 </p>
                              </div>
                           </div>
            </div>
                     </div>
                  </div>
          <!-- ---------Profile Card---HTML----End-->
          
               </div>
         
               <div class="col-md-1"></div>
         <div class="col-md-3"></div>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="modal fade" id="myModal" role="dialog">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <div class = "modals-section">
                     <div class = "row">
                        <div class = "col-md-7 newzz">
                           <span> <img src="/themes/custom/bfss_custom/images/images-dashboard/better-image.png"></span>
                        </div>
                        <div class = "col-md-5 newzz">
                           <div class = "modals-bg">
                              <h4>Aug<br> 04</h4>
                              <h1>Atheltic Profile Assessments</h1>
                              <p> Williams field high school</p>
                           </div>
                        </div>
                        <div class="modal-body">
                           <p>Some text in the modal.</p>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="modal" id="athelets-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> -->

      <!-- Modal body -->
      <div class="modal-body">
		<div class="row">
			<div class="col-md-12 pb-2">
				<p>Welcome Jodi, to continue you must complete all the required fields below.</p>
			</div>
		</div>
			<div class="row">
				<div class="col-md-8">
					<div id="accordion">
						<div class="card">
							<div class="card-header">
							  <a class="card-link d-flex justify-content-between" data-toggle="collapse" href="#collapseOne">
								<span><i class="fas fa-minus text-orange pr-2"></i>ATHLETE'S INFORMATION</span>
								<i class="fas fa-info text-orange"></i>
							  </a>
							</div>
							<div id="collapseOne" class="collapse show" data-parent="#accordion">
							  <div class="card-body py-4 my-2">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Jodi" disabled>
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Bloggs" disabled>
								</div>
								<div class="form-group">
									<select class="form-control" id="exampleFormControlSelect1">
									  <option>AZ</option>
									  <option>2</option>
									  <option>3</option>
									  <option>4</option>
									  <option>5</option>
									</select>
								</div>
								<div class="form-group">
									<input type="number" class="form-control" placeholder="Qty">
								</div>
								<div class="form-group">
									<select class="form-control" id="exampleFormControlSelect2">
									  <option>Birth Gender</option>
									  <option>2</option>
									  <option>3</option>
									  <option>4</option>
									  <option>5</option>
									</select>
								</div>
								<div class="form-group">
									<input type="number" class="form-control" placeholder="Height In Inches">
								</div>
								<div class="form-group">
									<input type="number" class="form-control" placeholder="Weight In Pounds">
								</div>
							</div>
						  </div>
						</div>
					  <div class="card">
						<div class="card-header">
						  <a class="collapsed card-link d-flex justify-content-between" data-toggle="collapse" href="#collapseTwo">
							<span><i class="fas fa-minus text-orange pr-2"></i>SCHOOL/CLUB/UNIVERSITY</span>
							<i class="far fa-trash-alt text-orange"></i>
						  </a>
						</div>
						<div id="collapseTwo" class="collapse show">
						  <div class="card-body py-4 my-2">
							<div class="form-group">
								<select class="form-control" id="exampleFormControlSelect3">
								  <option>Organization Type</option>
								  <option>2</option>
								  <option>3</option>
								  <option>4</option>
								  <option>5</option>
								</select>
							</div>
							<div class="form-group">
								<select class="form-control" id="exampleFormControlSelect4">
								  <option>Organization Name</option>
								  <option>2</option>
								  <option>3</option>
								  <option>4</option>
								  <option>5</option>
								</select>
							</div>
							<div class="form-group">
									<input type="text" class="form-control" placeholder="Coach's Last Name(Optional)">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Sport">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Position">
							</div>
							<button type="button" class="bg-transparent border-0 text-orange">+ Additional Position</button>
							
						  </div>
						</div>
					  </div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
						  <a class="collapsed card-link d-flex justify-content-between" data-toggle="collapse" href="#collapseThree">
							<span><i class="fas fa-minus text-orange pr-2"></i>SOCIAL MEDIA</span>
							<i class="fas fa-info text-orange"></i>
						  </a>
						</div>
						<div id="collapseThree" class="collapse show">
							<div class="card-body py-4 my-2">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Your Instagram Account(Optional)">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Your Youtube/Vimeo Channel(Optional)">
								</div>
							</div>
						</div>
					  </div>
				</div>
			</div>	
		</div>
      <!-- Modal footer -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div> -->

    </div>
  </div>
   <!-----Model_End------>
   <script>
      var acc = document.getElementsByClassName("accordion");
      var i;
      
      for (i = 0; i < acc.length; i++) {
       acc[i].addEventListener("click", function() {
         this.classList.toggle("active");
         var panel = this.nextElementSibling;
         if (panel.style.display === "none") {
           panel.style.display = "block";
         } else {
           panel.style.display = "none";
         }
       });
      }
      
   </script>
</body>
</html>