<!-- ------------Side Navbar----------start -->
<!-- ------------Side Navbar----------end -->
<div class="dash-main-right">
   <h1><i class="fas fa-home" 1123></i> > <a href="/dashboard" class="edit_dash" style="margin-right:5px;color: #333333;">Dashboard</a> > Private Assessments</h1>
   <div class="dash-sub-main">
      <img src="/modules/custom/acme/img/timetable.png">  
      <h2><span>Private</span><br>Assessments</h2>
   </div>
</div>
<!----------Tabs Section -----Start------->
<div class="tab-main-sec">
   <div class="row tab-main-sec-heading private-assess" style="margin-left: 0px;margin-right: 0px;">
      <div class="col-lg-12 col-md-12">
         <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-6 col-6">
               <div class="month_filter">{{ month_block }}</div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-6 search_icon filters-right">
               <div class="sea-inp-ic">
                  <a class="pr-3 assessment-search-icon"><i class="fas fa-search"></i></a>
                  <div class="search-assessements-input" style="display:none;">
                     {{ search_filter_block }}
                  </div>
               </div>
               <div class="search_icon_field">
                  <i class="fal fa-calendar-alt"></i>
                  {{ month_view_filter_block }}
                  <!--  <input placeholder="Month View" type="text" id="date-picker-example" class="form-control datepicker"> -->
                  <i class="fal fa-caret-down"></i>
               </div>
            </div>
         </div>
         <hr/>
         <div class="tab-nav">
            <ul class="mb-4">
               <li><a href="javascript:void(0);">Categories </a> </li>
               <li><a href="javascript:void(0);">Tags </a></li>
               <li><a href="javascript:void(0);">Organizers </a></li>
               <li><a href="javascript:void(0);">Venues </a></li>
            </ul>
         </div>
         <!-- ---------Profile Card---HTML----Start-->
         {{ private_assessments_block }}
         <!-- ---------Profile Card---HTML----End-->
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3"></div>
   </div>
</div>